@import url('reset.css');

/* General Codrops Demo Style */
body{
/*	background:#1F1F1F url(../images/pattern.png) repeat top left;
	color:#fff;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:14px;*/
        background: #000;
}

a{
	color:#ddd;
	text-decoration:none;
}

a:hover{
	color:#00c6e3;
}

p.sub{  
        /*width: 830px;*/
        max-width: 100%;
        /*height: 93px;*/
        font-family: Crimson Text Roman;
        font-size: 16px;
        font-weight: lighter;
	padding: 5px 10px 10px 10px;
	text-align: justify;
        /*margin-left: 12%;*/
	color:#aaa;
        letter-spacing: 1px;
        /*float: left;*/
        word-spacing: 3px;
}

.clr{
	clear:both;
}
h1{
	margin:5px;
	font-size:24px;
	text-align:center;
	color:#fff;
	font-family:"Pacifico", Georgia, "Times New Roman", serif;
	text-shadow:1px 1px 1px #000;
	padding-bottom:10px;
	line-height:40px;
}
h1 span{
	font-size:10px;
	display:block;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	color:#00c6e3;
	line-height:14px;
	padding-top:10px;
	text-shadow:none;
	text-transform:uppercase;
}
/* Header Style */
.header{
        width: 100%;
	font-size:13px;
	background:#032f5c;
	opacity:0.9;
	text-transform:uppercase;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}

.header a{
	line-height:18px;
	padding:0 4px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	//float:right;
}

.content{
	margin:0px 25px 30px 25px;
}
.icon-branz {
    width: 383px; float: right;
}
.icon-branz-2 {
    width: 383px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .icon-branz, .icon-branz-2 {
        float: none;
        margin: 10px auto;
    }
}
@media screen and (max-width: 640px) {
	.header a{
		display:block;
		text-align:center;
		font-size:10px;
		text-shadow:none;
	}
	.header span.right_ab{
		float:none;
	}
}