#mobile-version{
    display: none;
}

.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}

.home-back {
font-family:"Trajan Pro";
font-size: 36px;
color: #FDF9F0;
padding:10px 30px 10px 10px;
text-decoration: none;
float: right;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

.header-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003162+0,00437e+100 */
background: #003162; /* Old browsers */
background: -moz-linear-gradient(left,  #003162 0%, #00437e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003162), color-stop(100%,#00437e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #003162 0%,#00437e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #003162 0%,#00437e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #003162 0%,#00437e 100%); /* IE10+ */
background: linear-gradient(to right,  #003162 0%,#00437e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003162', endColorstr='#00437e',GradientType=1 ); /* IE6-9 */

}

.footer-bg {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003162+0,002e5d+100 */
background: #003162; /* Old browsers */
background: -moz-linear-gradient(top,  #003162 0%, #002e5d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003162), color-stop(100%,#002e5d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #003162 0%,#002e5d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #003162 0%,#002e5d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #003162 0%,#002e5d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #003162 0%,#002e5d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003162', endColorstr='#002e5d',GradientType=0 ); /* IE6-9 */

}

#header-image{
    background-image: url("../images/header_branz.jpg");
    width: 100%;
    max-width: 1280px;
    height: 65px;
    margin: 0 auto;
}

/*#header-image-mobile{
    background-image: url("../images/header_mobile.jpg");
    width: 480px;
    height: 41px;
    //margin: 0 auto;
}

.header-project-mobile {
    background-image: url("../images/bg_project.jpg");
    background-repeat: repeat-x;
    height: 44px;
}

.header-project {
    color: #ffffff;
    position: absolute;
    margin: 4px 0 0 30%;
}

.arrow-down {
    width: 0; 
    height: 0;
    margin: 4px 0 0 60%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

#footer-image-mobile{
    background-image: url("../images/mobile_bottom.jpg");
    width: 480px;
    height: 63px;
    //margin: 0 auto;
}*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-contact {
    background-color: #fac732;
    color: #666666;
    width: 191px;
    height: 38px;
    margin-left: 43%;
}

#home-button{
    margin-left: 39%;
}

.scrollToTop {
    width: 52px;
    height: 48px;
    position: fixed;
    top: 60%;
    right: 8%;
    display: none;
    background: url('../images/btn_up.png');
    z-index: 1;
}

.scrollToTop:hover{
    text-decoration:none;
}

.scrollToBottom {
    width: 52px;
    height: 48px;
    position: fixed;
    top: 68%;
    right: 8%;
    display: none;
    background: url('../images/btn_down.png');
    z-index: 1;
}

.scrollToBottom:hover{
    text-decoration:none;
}

.bsd-text {
    font-family: Crimson Text Roman;
    font-size: 12px;
    //font-weight: lighter; 
/*    margin-top: -90px;
    width: 200px;
    height: 248px;
    padding: 3px 0 3px 5px;*/
}

.bsd-text a {
    color: blue;
}

.simatupang-text {
    font-family: Crimson Text Roman;
    font-size: 12px;
    //font-weight: lighter;
/*    margin-top: -90px;
    width: 200px;
    height: 248px;
    padding: 3px 0 3px 5px;*/
}

.simatupang-text a {
    color: blue;
}


.copy-text {
    color: #fff;
    font-family: Crimson Text Roman;
    font-size: 10px;
    margin-left: 39%;
    margin-bottom: 3%;
}

@media screen and (max-width: 320px){
    
    .container{
        width: 320px;
    }
    
    #mobile-version{
        display: block;
    }
    
    #web-version{
        display: none;
    }
	
	.home-back-mobile {
            font-family:"Trajan Pro";
            font-size: 20px;
            color:#FFFFFF;
            padding: 7.5px 10px 5px 0px;
            float: right;
         
	
}
    .btn-project {
        background-color: #fac732;
        color: #666666;
        width: 100px;
        height: 38px;
        margin: 10px 0 0 10px;
        padding: 10px 10px 10px 10px;
        position: absolute;
        float: left;
    }
    
    .header-image-mobile{
    background-image: url("../images/header_mobile.jpg");
    width: 100%;
    height: 41px;
    margin: 0 auto;
}

.header-project-mobile {
    background-image: url("../images/bg_project.jpg");
    background-repeat: repeat-x;
    height: 44px;
}

.header-project {
    color: #fff;
    font-family:"Trajan Pro";
    position: absolute;
    margin: 8px 0 0 35%;
}

.arrow-down {
    width: 0; 
    height: 0;
    position: absolute;
    margin: 16px 0 0 58%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

footer-logo-mobile {
    margin-left: 50%; 
    position: absolute;
    padding: 5px 0;
}

#footer-image-mobile{
    background-image: url("../images/mobile_bottom.jpg");
    width: 100%;
    height: 63px;
    margin: 0 auto;
}

.copy-text {
    color: #fff;
    font-family: Crimson Text Roman;
    font-size: 7px;
    margin-left: 19%;
}
    
    
    .btn-contact-small {
    background-color: #fac732;
    color: #666666;
    width: auto;
    //float: left;
    }
	   
    .scrollToOrigin {
    width: 65px;
    height: 30px;
    position: fixed;
    bottom: 70px;
    left: 40%;
    display: none;
    background: url('../images/btn_mobile_top.png');
    z-index: 1;
    }

    .scrollToOrigin:hover{
      text-decoration:none;
    }
}