You have received a new message. Here are the details:<br>
Name: {{ contact_name }}<br>
Email: {{ contact_email }}<br>
Phone Number: {{ contact_phone }}<br>
Message: {{ contact_message }}<br>
Status: {{ contact_stat }}<br>
Address: {{ contact_address }}<br>
