<!DOCTYPE html>
<html class="no-js" lang="en">
<head {% block fb_head_prefix %}{% endblock %}>
    <base href="{{ base_url() }}" />

    {% block fb_meta_data %}{% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ meta_title | raw }}</title>
    <link rel="icon" type="image/ico" href="{{ base_url() }}assets/img/favicon.png" />
    <meta name="description" content="{{ meta_desc | raw }}">

    {% block frontend_css %}
        {{ asset_css('normalize.css') | raw }}
        {{ asset_css('foundation.css') | raw }}
        {{ asset_css('font-awesome.min.css') | raw }}
        {{ asset_css('mobile-style.css') | raw }}
        {{ asset_css('slick/slick.css') | raw }}
        {{ asset_css('slick/slick-theme.css') | raw }}
    {% endblock %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
{% block fb_js_sdk %}{% endblock %}
<div class="header">
    <div class="header-item">
        <div class="banner-image">
            <img src="{{ base_url() }}/assets/css/images/banner-fall.gif">
        </div>
        <div class="mobile-logo">
            <a href="{{ base_url() }}{{ current_lang }}/home"><img src="{{ base_url() }}/assets/css/images/logo.png"/></a>
        </div>
    </div>
    <div class="contain-to-grid sticky">

        <nav class="top-bar top-item " data-topbar role="navigation" data-options="scrolltop:true">
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
                <li class="name">
                    {% for lang_key, lang_item in valid_lang %}
                        <div class="m-lang">
                            <a href="{{ lang_item.link }}" class="{{ lang_key == current_lang ? 'active' : '' }}">{{ lang_item.label_mobile }}</a>
                        </div>
                    {% endfor %}
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            </ul>

            <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="{{ base_url() }}{{ current_lang }}/project">Project</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/business">About Us</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/career">Career</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/news">News Release</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/contact-us">Contact Us</a></li>
                    <li class="left-lang">
                        {% for lang_key, lang_item in valid_lang %}
                            <div class="m-lang">
                                <a href="{{ lang_item.link }}" class="{{ lang_key == current_lang ? 'active' : '' }}">{{ lang_item.label_mobile }}</a>
                            </div>
                        {% endfor %}
                    </li>
                </ul>
            </section>
        </nav>
        <div class="sticky-menu">
            <a href="{{ base_url() }}{{ current_lang }}/home"><img src="{{ base_url() }}/assets/css/images/sticky-image.jpg"/></a>
        </div>
        <nav class="top-bar top-fixed" data-topbar role="navigation" data-options="scrolltop:false">
            <ul class="title-area">
                <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
                <li class="name">
                    {% for lang_key, lang_item in valid_lang %}
                        <div class="m-lang">
                            <a href="{{ lang_item.link }}" class="{{ lang_key == current_lang ? 'active' : '' }}">{{ lang_item.label_mobile }}</a>
                        </div>
                    {% endfor %}
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            </ul>

            <section class="top-bar-section ">

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="{{ base_url() }}{{ current_lang }}/project">Project</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/business">About Us</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/career">Career</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/news">News Release</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/contact-us">Contact Us</a></li>
                    <li class="left-lang">
                        {% for lang_key, lang_item in valid_lang %}
                            <div class="m-lang">
                                <a href="{{ lang_item.link }}" class="{{ lang_key == current_lang ? 'active' : '' }}">{{ lang_item.label_mobile }}</a>
                            </div>
                        {% endfor %}
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</div>
<div style="height: 50px;"></div>
<!-- content goes here -->
{% block frontend_content %}{% endblock %}

<div class="footer">
    <div class="row">
        <div class="small-12 columns">
            <div class="footer-line-2"></div>
            <div class="footer-title">BRANZ PROJECT IN JAPAN</div>
            <div class="footer-banner">
                {% for footer in footer_img %}
                    <div>
                        <a href="{{ footer.anchor }}" target="_blank"><img src="{{ base_url() }}media/footer/{{ footer.filename }}"/></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer-line"></div>
        <div class="small-5 columns">
            <a href="{{ base_url() }}{{ current_lang }}/privacy">Privacy Policy</a>
        </div>
        <div class="small-1 columns">
            |
        </div>
        <div class="small-6 columns">
            <a href="{{ base_url() }}{{ current_lang }}/terms">Terms &amp; Conditions</a>
        </div>
    </div>
    <div>
        Copyright &copy;2015 TOKYU LAND INDONESIA | All rights reserved
    </div>
</div>

{% block frontend_js %}
    {{ asset_js('jquery.min.js') | raw }}
    {{ asset_js('jquery-1.11.1.min.js') | raw }}
    {{ asset_js('foundation.min.js') | raw }}
    {{ asset_js('foundation/foundation.topbar.js') | raw }}
    {{ asset_js('slick/slick.min.js') | raw }}
{% endblock %}
<script type="text/javascript">
    $(document).foundation();
    
    $(document).ready(function(){
        $('.footer-banner').slick();
    });
</script>
</body>
</html>