<!DOCTYPE html>
<html class="no-js" lang="en">
<head {% block fb_head_prefix %}{% endblock %}>
    <base href="{{ base_url() }}" />

    {% block fb_meta_data %}{% endblock %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=1100, initial-scale=1.0" />

    <title>{{ meta_title | raw }}</title>
    <link rel="icon" type="image/ico" href="{{ base_url() }}assets/img/favicon.png" />
    <meta name="description" content="{{ meta_desc | raw }}">

    {% block frontend_css %}
        {{ asset_css('normalize.css') | raw }}
        {{ asset_css('foundation.min.css') | raw }}
        {{ asset_css('font-awesome.min.css') | raw }}
        {{ asset_css('style.css') | raw }}
    {% endblock %}
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    {% block fb_js_sdk %}{% endblock %}
    <div class="header">
        <div class="row" style="position: relative; width: 1022px;">
            <div class="season-image" id="video-tag" style="display:none;">
               {% for filename in banner %}
                    <video id="videoId" poster="{{ base_url() }}assets/img/poster_summer.gif" width="1022" height="280" autoplay loop>
                        <source src="{{ base_url() }}media/banner/{{ filename }}" type="video/mp4">
                        <source src="{{ base_url() }}media/banner/fishpond_10.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                {% endfor %}
            </div>
            
        </div>
        <div class="row top-web">
            <div class="large-4 columns title-web">
                Hospitality Quality of Japan
            </div>
            <div class="large-8 columns">
                <ul class="top-menu inline-list">
                    <li class="select-lang">
                        <select onchange="location = this.options[this.selectedIndex].value;">
                            {% for lang_key, lang_item in valid_lang %}
                                <option value="{{ lang_item.link }}" {{ lang_key == current_lang ? 'selected' : '' }}>{{ lang_item.label }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="row">
            <div class="logo">
                <a href="{{ base_url() }}{{ current_lang }}/home">
                    <img src="{{ base_url() }}/assets/css/images/logo.png"/>
                </a>
            </div>
        </div>
        <div class="row menu-container">
            <ul class="inline-list bottom main-menu">
                {% for menu in frontend_menus %}
                    <li>
                        <a href="{{ menu.route }}" class="{{ menu.menu_class_a }}">{{ menu.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
            
    {% block frontend_content %}{% endblock %}
    <div class="footer">
        <div class="row">
            <img src="{{ base_url() }}/assets/css/images/border-footer.jpg"/>
        </div>
        <div class="row footer-menu">
            <div style="height: 20px;"></div>
            <div class="footer-line"></div>
            <div class="footer-title">BRANZ PROJECT IN JAPAN</div>
            <div class="footer-banner">
                <ul id="list-footer-banner">
                    {% for footer in footer_img %}
                        <li>
                            <a href="{{ footer.anchor }}" target="_blank"><img src="{{ base_url() }}media/footer/{{ footer.filename }}"/></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div style="clear:both;"></div>
            <div class="footer-line"></div>
            <div class="footer-home">
                <a href="{{ base_url() }}{{ current_lang }}/home">HOME</a>
                <hr/>
            </div>

            <div style="height: 20px;"></div>
            <div class="footer-home">
                <ul class="inline-list">
                    <li><a href="{{ base_url() }}{{ current_lang }}/philosophy">Philosophy</a><hr/></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/project">Project</a><hr/>
                        <ul class="no-bullet">
                            <li><a href="{{ base_url() }}{{ current_lang }}/project">TLID Projects</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-group">About Group</a><hr/>
                        <ul class="no-bullet">
                            <li><a href="{{ base_url() }}{{ current_lang }}/about-group">Tokyu Fudosan Holdings</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">About Us</a><hr/>
                        <ul class="no-bullet">
                            <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">President Director’s message</a></li>
                            <li><a href="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</a></li>
                            <li><a href="{{ base_url() }}{{ current_lang }}/about-us/business">Business Deployment</a></li>
                            <li><a href="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/csr">CSR</a><hr/></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/career">Career</a><hr/></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/news">News Release</a><hr/></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/contact-us">Contact Us</a><hr/></li>
                </ul>
            </div>
            <div class="footer-foot">
                <p ></p>
                <ul class="inline-list" style="font-size: 10px; padding-top: 20px; font-family: helvetica;">
                    <li>Copyright ©2015 TOKYU LAND INDONESIA | All rights reserved</li>
                    <li><strong><a style="color: #000000; font-family: 'MS PMincho';" href="{{ base_url() }}{{ current_lang }}/privacy">Privacy Policy</a></strong></li>
                    <li>|</li>
                    <li><strong><a style="color: #000000; font-family: 'MS PMincho'; " href="{{ base_url() }}{{ current_lang }}/terms">Terms &amp Conditions</a></strong></li>
                </ul>
            </div>
        </div>
    </div>
    {% block frontend_js %}
        {{ asset_js('jquery.min.js') | raw }}
        {{ asset_js('foundation.min.js') | raw }}
    {% endblock %}
    <script type="text/javascript">
        $(document).foundation();
    </script>
    <script type="text/javascript">
        var video = document.getElementById("videoId");
        var videoTag = document.getElementById("video-tag");
//        video.addEventListener("loadedmetadata", function() {
//        video.addEventListener("loadeddata", function() {
        video.addEventListener("canplaythrough", function() {
            videoTag.style.display = "block";
        }, false);

        setTimeout("displayBlock()", 5000);

        function displayBlock(){
            if(videoTag.style.display == 'none'){
                videoTag.style.display = "block";
            }
        }

    </script>

</body>
</html>
