{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-csr">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li class="current">CSR</li>
            </ul>
        </div>
        <div class="row">
            <h1>CSR</h1>
        </div>
        
        {% for activity in activity_data %}
            
        <div class="row">
            <div class="primary-content">
                {{ activity.highlight_content }}<br/><br/>
            </div>
            <div class="secondary-content">
                <p>{{ lang('csr1') }}</p><br/>
            </div>
            <div style="height: 20px;"></div>
        </div>
        <div class="row csr-content">

        {% endfor %}
            <div>
                <img src="{{ base_url() }}/assets/css/images/csr-1-resize.jpg"/>
            </div>
            <div class="title-csr">
                <div>{{ lang('csr2') }}</div>
            </div>
            <div>
                <div class="small-12 columns" style="text-align: center">
                    <div class="another-content">
                        <p style=" text-align: center; font-size: 14px; font-weight: bold; line-height: 2;">{{ lang('csr3') }}</p>
                    </div>
                </div>
                <div class="small-3 columns" style="padding-left: 0;display:none;">
                    <div class="another-content">
                        <p style="font-size: 12px; line-height: 2.5;">
                            {{ lang('csr4') }}
                        </p>
                    </div>
                </div>
                <div class="small-3 columns" style="display:none;padding-left: 35px; padding-right: 0;">
                    <div class="another-content">
                        <p style="font-size: 12px; line-height: 2.5;">
                            {{ lang('csr5') }}
                        </p>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div style="height: 30px;"></div>
            <div>
                <div class="small-5 columns" style="display:none;">
                    <div style="padding: 60px; padding-top: 100px; height: 314px; font-size:12px; background:#f2f2f2; line-height: 2.5; ">
                        {{ lang('csr6') }}
                    </div>
                </div>
                <div class="small-6 columns">
                    <img src="{{ base_url() }}/assets/css/images/csr-2-resize.jpg"/>
                </div>
                <div class="small-6 columns">
                    <img src="{{ base_url() }}/assets/css/images/csr-3-resize.jpg"/>
                </div>

                <div style="clear: both;"></div>
            </div>
            <div style="height: 20px;"></div>

            <div>
                <div class="small-6 columns" style="display:none;">
                        {{ lang('csr7') }}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="height: 50px;"></div>
  </div>
{% endblock %}
