{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-contact">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li class="current">Contact Us</li>
            </ul>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <img src="{{ base_url() }}/assets/css/images/contact-sakura.jpg"/>
            </div>
            <div class="small-7 columns">
                <div class="small-6 columns">
                    <h1>CONTACT US</h1>
                    <p>
                        PT. Tokyu Land Indonesia
                    </p>

                    <p>
                        The Plaza Office Tower, 19th.Fl<br/>
                        Jl.MH.Thamrin Kav.28-30 Jakarta 10350<br/>
                        <span style="display:none;">Telephone: (62-21) 2992 0109<br/>
                            Fax : (62-21) 2992 1109</span>
                    </p>
                    <p>
                        <img src="{{ base_url() }}/assets/css/images/telp-icon.png"/> +62 21 2992 0109<br>
                        <img src="{{ base_url() }}/assets/css/images/mail-icon.png"/> contact@tokyu-land.co.id<br>
                    </p>
                </div>

                <div style="clear: both;"></div>
                <div class="contact-form">
                    <form action="" method="post" data-abide>
                        <div>
                            <div>
                                <div class="small-12 columns">
                                    <input id="contact-name" placeholder="Your Name *" type="text" required pattern="[a-zA-Z]+" />
                                    <small class="error"><img src="{{ base_url() }}/assets/css/images/warning-symbol.png"/>The  data is wrong / blank</small>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div>
                                <div class="small-12 columns">
                                    <input id="contact-email" placeholder="Your E-mail *" type="email" required>
                                    <small class="error"><img src="{{ base_url() }}/assets/css/images/warning-symbol.png"/> The  data is wrong / blank</small>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div>
                                <div class="small-12 columns">
                                    <input id="contact-number" placeholder="Your Phone Number *" type="text" required pattern="[-+]?[1-9]\d*" />
                                    <small class="error"><img src="{{ base_url() }}/assets/css/images/warning-symbol.png"/>  The  data is wrong / blank</small>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div>
                                <div class="small-12 columns">

                                    <input id="contact-address" placeholder="Address *" type="text"  />

                                    <small class="error"><img src="{{ base_url() }}/assets/css/images/warning-symbol.png"/>  The  data is wrong / blank</small>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div>
                                <div class="small-6 columns">
                                    <input type="radio" id="request" name="brochure" value="Request for Brochure" checked> <label for="request">Request for Brochure</label>
                                    <input type="radio" id="no-request" name="brochure" value="No Brochure"> <label for="no-request">No Brochure</label>
                                </div>
                                <div class="small-6 columns">

                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <div>
                                <div class="small-12 columns">
                                    <textarea id="contact-msg" placeholder="Your Message"></textarea>
                                    <div style="font-size: 12px; padding-bottom: 10px;">* Please make sure all the column fiiled in properly</div>
                                    <div></div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                            <input type="submit" value="Submit" class="button" onclick="submitContact();"/>
                            <div id="thanks"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="height: 20px;"></div>
        </div>
    </div>

    <div style="height: 50px;"></div>
   
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.abide.js') | raw }}

    <script>

        $("#no-request").click(function() {
            $("#contact-address").prop({ readonly:true });
        });
        $("#request").click(function() {
            $("#contact-address").prop({ readonly:false });
        });

    function submitContact(){
        
        var name = document.getElementById('contact-name').value;
        var mail = document.getElementById('contact-email').value;
        var num = document.getElementById('contact-number').value;
        var addr = document.getElementById('contact-address').value;
        var msg = document.getElementById('contact-msg').value;
        var stat;
        
        if(document.getElementById("request").checked == true){
            stat = "requesting a brochure";
        }else if(document.getElementById("no-request").checked == true){
            stat = "don\'t request any brochure";
        }
        
        if(name.length > 0){
                $.ajax({
                type: "POST",
                url: "{{ base_url() }}get-submit-contact", // 
                data: { 
                    'name':name,
                    'mail':mail,
                    'num':num,
                    'addr':addr,
                    'msg':msg,
                    'stat':stat,
                },
                success: function(){
                    window.location ='{{ base_url()~current_lang }}/contact-us/thanks'
                }

            });
        }else{
            //alert('Please, fill in all the text fields');
        }
        
    }
        
    </script>    
    
    
{% endblock %}
