{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-home">
        <div class="row">
            <ul class="example-orbit" data-orbit data-options="animation:slide; pause_on_hover:true; resume_on_mouseout: true; timer_speed: 5000; slide_number: false; animation_speed:2000; navigation_arrows:false; bullets:false;">

                {% for filename in slide_img %}
                    <li>
                        <img src="{{ base_url() }}media/slide/{{ filename }}" class="img-responsive"/>
                    </li>
                {% endfor %}
            </ul>

            <a href="{{ base_url() }}branz/index.html" target="_blank"><img src="{{ base_url() }}assets/css/images/Branz-Banner.jpg"/></a>
        </div>
        <div class="row" data-equalizer = "mother">
            <div class="small-6 columns" data-equalizer-watch = "mother">
                <div class="project-home-title">
                    <div class="small-8 columns">
                        Project
                    </div>
                    <div class="small-4 columns">
                        <span> > </span> <a href="{{ base_url }}{{ current_lang }}/project">All Projects</a>
                    </div>
                    <div style="clear: both"></div>

                </div>
                {% for project in project_data %}
                <div class="row" data-equalizer="project">
                    <div class="project-home" data-equalizer-watch="project">
                        <div class="small-6 columns">
                            <a href="{{ project.web }}" target="_blank">
                                <img src="{{ base_url() }}media/project/thumbnail/{{ project.image }}" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="small-6 columns">
                            <h5>{{ project.name }}</h5>
                            <h6><b>( {{ project.type }} )</b></h6>
                            <p>{{ project.detail }}</p>
                            <p><b>Web: </b><a href="{{ project.web }}" target="_blank">{{ project.web }}</a></p>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                        
                </div>
                        {% endfor %}
            </div>
            <div class="small-6 columns" data-equalizer-watch = "mother">
                <div class="news-home-title">
                    <div class="small-8 columns">
                        News Release
                    </div>
                    <div class="small-4 columns">
                        <span> > </span> <a href="{{ base_url }}{{ current_lang }}/news">All News</a>
                    </div>
                    <div style="clear: both"></div>
                </div>
                {% for news in news_data %}
                    
                {% if(current_lang == 'en') %}    
                
                <div class="row" data-equalizer="news">
                    <div class="news-home" data-equalizer-watch="news">
                        <div class="small-6 columns">
                            <a href="{{ base_url() }}media/news/doc/{{ news.doc_filename }}" target="_blank">
                                <img src="{{ base_url() }}media/news/thumbnail/{{ news.image }}" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="small-6 columns">
                            <h5>{{ news.date }}</h5>
                            <p>{{ news.doc }}</p>
                            <p><a href="{{ base_url() }}media/news/doc/{{ news.doc_filename }}" target="_blank"><img src="{{ base_url() }}assets/img/pdf-icon-smallest.png" class="img-responsive"/></a></p>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
                        
                {% else %}
                
                <div class="row" data-equalizer="news">
                    <div class="news-home" data-equalizer-watch="news">
                        <div class="small-6 columns">
                            <a href="{{ base_url() }}media/news/docid/{{ news.doc_filename }}" target="_blank">
                                <img src="{{ base_url() }}media/news/thumbnail/{{ news.image }}" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="small-6 columns">
                            <h5>{{ news.date }}</h5>
                            <p>{{ news.doc }}</p>
                            <p><a href="{{ base_url() }}media/news/docid/{{ news.doc_filename }}" target="_blank"><img src="{{ base_url() }}assets/img/pdf-icon-smallest.png" class="img-responsive"/></a></p>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
    {{ asset_js('foundation/foundation.equalizer.js') | raw }}
{% endblock %}
