{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
<div>
    <ul class="example-orbit" data-orbit data-options="animation:slide; pause_on_hover:true; resume_on_mouseout: true; timer_speed: 5000; slide_number: false; animation_speed:500; navigation_arrows:false; bullets:false;">
        {% for filename in slide_img %}
            <li>
                <img src="{{ base_url() }}media/slide/{{ filename }}" class="img-responsive"/>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ base_url() }}branz/index.html" target="_blank"><img class="branz-banner" src="{{ base_url() }}/assets/css/images/Branz-Banner.jpg"/></a>
</div>

<div style="height: 20px;"></div>
<div>
    <div class="project-home-title">
        <div class="small-12 columns">
            Project
        </div>
        <div style="clear: both"></div>

    </div>

        <div class="row">
            {% for project in project_data %}
            <div class="project-home">
                <div class="project-wrap">
                    <div class="small-12 columns">
                        <a href="{{ project.web }}" target="_blank">
                            <img src="{{ base_url() }}media/project/thumbnail/{{ project.image }}" class="img-responsive"/>
                        </a>
                    </div>
                    <div style="clear: both"></div>
                    <div class="small-12 columns project-desc">
                        <h5>{{ project.name }}</h5>
                        <h5>( {{ project.type }} )</h5>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            {% endfor %}
            <div class="text-center project-button">
                <a href="{{ base_url() }}{{ current_lang }}/project">
                    <div>
                       All Projects
                    </div>
                </a>
            </div>
        </div>

</div>
<div style="height: 50px;"></div>
<div>
    <div class="project-home-title">
        <div class="small-12 columns">
            News Release
        </div>
        <div style="clear: both"></div>

    </div>
    <div class="row">
        {% for news in news_data %}
            
            {% if(current_lang == 'en') %}  
                
        <div class="project-home">
            <div class="project-wrap">
                <div class="small-12 columns">
                    <a href="{{ base_url() }}media/news/doc/{{ news.doc_filename }}" target="_blank">
                        <img src="{{ base_url() }}media/news/thumbnail/{{ news.image }}" class="img-responsive"/>
                    </a>
                </div>
                <div style="clear: both"></div>
                <div class="small-12 columns project-desc">
                    <h5>{{ news.title }}</h5>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
            
            {% else %}
                
        <div class="project-home">
            <div class="project-wrap">
                <div class="small-12 columns">
                    <a href="{{ base_url() }}media/news/docid/{{ news.doc_filename }}" target="_blank">
                        <img src="{{ base_url() }}media/news/thumbnail/{{ news.image }}" class="img-responsive"/>
                    </a>
                </div>
                <div style="clear: both"></div>
                <div class="small-12 columns project-desc">
                    <h5>{{ news.meta_title }}</h5>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
              
        {% endif %}
        {% endfor %}
            
           
        <div class="text-center project-button">
            <a href="{{ base_url() }}{{ current_lang }}/news">
                <div>
                    All News
                </div>
            </a>
        </div>
    </div>

</div>

<div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
{% endblock %}