{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="about-wrapper">
        <div class="mobile-about">
            <h1>Privacy Policy</h1>
        </div>
        <div class="privacy">
            {{ lang('privacy') }}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
{% endblock %}