{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-philosophy">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li class="current">Philosophy</li>
            </ul>
        </div>
        <div class="philosophy-content row">
            <h1>PHILOSOPHY</h1>
            <div class="small-12 columns">
                <h5>
                    Tradition and progress. Technology and sensibility. People and nature. Taking on a new type of urban development that unites all values into one.
                </h5>
                <p>
                    {{ lang('philosophy-top1') }}

                    {{ lang('philosophy-top2') }}

                    {{ lang('philosophy-top3') }}
                </p>
            </div>
            <div style="clear: both;"></div>
            <div style="height: 30px;"></div>
            <div class="philosphy-concept">
                <div class="concept-1">
                    <img src="{{ base_url() }}/assets/css/images/back-1.jpg"/>
                    <div class="black-content top-black">
                        {{ lang('philosophy-left') }}
                    </div>
                    <div class="black-content">
                        Bringing the spirit of hospitality<br/>
                        and craftsmanship to Indonesia,<br/>
                        nurtured proudly through the<br/>
                        traditions and culture of Japan.
                    </div>
                </div>
                <div class="concept-2">
                    <div class="small-7 columns">
                        <img src="{{ base_url() }}/assets/css/images/back-2.jpg"/>
                    </div>
                    <div class="small-5 columns concept-text">
                        <p>
                            <strong>
                                Harnessing our distinct character as<br/>
                                a Japanese corporation with<br/>
                                a deep knowledge of Indonesia.<br/>
                                We propose beautiful, comfortable,<br/>
                                and rich lifestyles that seek to protect<br/>
                                both natural environments and culture.<br/>
                                <span style="color: #888888;">_________</span>
                            </strong>
                        </p>

                        <p class="tokyu-text">

                            {{ lang('philosophy-right1') }}<br/><br/>
                            {{ lang('philosophy-right2') }}<br/><br/>
                            {{ lang('philosophy-right3') }}<br/><br/>
                        </p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="concept-3">
                    <img src="{{ base_url() }}/assets/css/images/back-3.jpg"/>
                    <div class="trans-content bottom-content">

                        <p>
                            <strong>
                                Providing the homes and lifestyles that the world desires.<br/>
                                Changing what a “premium residence” means,<br/>
                                starting with Indonesia.
                            </strong>
                        </p>
                    </div>
                    <div class="trans-content">

                        <p>
                            {{ lang('philosophy-bottom1') }}<br/><br/>

                            {{ lang('philosophy-bottom2') }}<br/><br/>

                            {{ lang('philosophy-bottom3') }}<br/><br/>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}
