{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-philosophy">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li class="current">Terms &amp; Conditions</li>
            </ul>
        </div>
        <div class="extra-content row">
            <h1>Terms &amp; Conditions</h1>
            <div>


                {{ lang('terms') }}

            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}
