    {% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-career">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ base_url() }}{{ current_lang }}home">Home</a></li>
            <li class="current">Contact</li>
        </ul>
    </div>
    <div class="row">
        <h1>Contact Us</h1>
    </div>

    <div class="row">
        <h3>Thank You</h3>
        <div class="foot-note" style="font-weight: normal;">
            Thank you for taking time to contact us.<br/>
            We will be in touch shortly.<br/><br/>
        </div>

        <div class="apply-button">
            <a href="{{ base_url() }}{{ current_lang }}/home" class="button">Home</a>
        </div>


    </div>
    <div style="height: 50px;"></div>
{% endblock %}