{% extends "backend/template.twig" %}

{% block backend_css %}
	{{ parent() }}
	<!-- dataTables css -->
	{{ asset_css('datatables/dataTables.bootstrap.css') | raw }}
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{# Set page title and subtitle manually #}
		Admin Roles
		<small>Assign Admin</small>
	</h1>
	{# Also set breadcrumb manually #}
	<ol class="breadcrumb">
		<li><a href="{{ base_url() }}backend">Home</a></li>
		<li>Admin Management</li>
		<li><a href="{{ base_url() }}backend/admin-role-permission">Admin Roles</a></li>
		<li class="active">Assign Admin</li>
	</ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ error_message | raw }}
</div>
{% endif %}

	<div class="box box-solid">
		<div class="box-body text-right">
			<a href="{{ base_url() }}backend/admin-role-permission">
				<button class="btn btn-default">Back</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive">
					<table id="table-admin-user" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Admin ID</th>
							<th>Email</th>
							<th>Fullname</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for admin in admin_list %}
						<tr>
							<td>{{ admin.id }}</td>
							<td>{{ admin.email }}</td>
							<td>{{ admin.fullname }}</td>
							<td>
								{% if admin.role.role_id | length > 0 %}
									{% set action_url = base_url()~'backend/admin-role-permission/do-unassign-admin/'~admin.id~'/'~current_role_id %}
									{% set action_name = 'Unassign' %}
									{% set btn_class_attr = 'btn-danger' %}
								{% else %}
									{% set action_url = base_url()~'backend/admin-role-permission/do-assign-admin/'~admin.id~'/'~current_role_id %}
									{% set action_name = 'Assign' %}
									{% set btn_class_attr = 'btn-primary' %}
								{% endif %}
								<a href="{{ action_url }}">
									<button type="button" class="btn {{ btn_class_attr }}">
										{{ action_name }}
									</button>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	<!-- page script -->
	<script type="text/javascript">
		$(function() {
			$("#table-admin-user").dataTable( {
				"aoColumns": [ 
					null,
					null,
					null,
					{ "bSearchable": false, "bSortable": false }
				]
			} );
		} );
	</script>
	<!-- Dialog Confirmation Script -->
	{{ asset_js('backend-dialog.js') | raw }}
	<script type="text/javascript">
		jQuery('#table-admin-user').on('click', '.btn-delete', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-delete');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to delete this?', yes_callback);
		});
		jQuery('#table-admin-user').on('click', '.btn-reset-password', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-reset-password');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to reset password?', yes_callback);
		});
	</script>
{% endblock %}