<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BRANZ</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
        <link rel="icon" type="image/png" href="images/fav-tokyu.png"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-47167320-2', 'tokyuland-id.com');
            ga('send', 'pageview');
        </script>
        <style type="text/css">

        </style>
<noscript>
            <style>
                .es-carousel ul{
                    display:block;
                }
            </style>
        </noscript>
        <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl"></script>
    </head>
    <body>
        
<!-- Web Version -->
<div id="web-version">
    <div class="header-bg">  
    <div id="header-image">
        
        <a href="http://tokyuland-id.com" class="home-back">
            Home
        </a>
<!--            <img class="img-responsive" src="images/header_branz.jpg" alt="header" style="margin: 0 auto; z-index: 1; position: relative;">-->
        </div>
    </div>
        <div class="container">
            
            <!-- header -->
			
            <div class="content">
		<div id="rg-gallery" class="rg-gallery">
                    <div class="rg-image-wrapper">
                      <script>	
                            {{ if itemsCount > 1 }} 
                        </script>
                        <div class="rg-image-nav">
                            <a href="#" class="rg-image-nav-prev">Previous Image</a>
                            <a href="#" class="rg-image-nav-next">Next Image</a>
                        </div>
                      <script>
                            {{ /if }}
                        </script>
                        <div class="rg-image"></div>
                        <div class="rg-loading"></div>
                        <div class="rg-caption-wrapper">
                            <div class="rg-caption" style="display:none;">
				<p></p>
                            </div>
			</div>
                    </div>
                    <div class="rg-thumbs">
                    <!-- Elastislide Carousel Thumbnail Viewer -->
                        <div class="es-carousel-wrapper">
<!--                            <div class="es-nav">
				<span class="es-nav-prev">Previous</span>
				<span class="es-nav-next">Next</span>
                            </div>-->
                            <div class="es-carousel">
                                <ul>
                                    <li><a href="#"><img src="images/thumbs/1.jpg" data-large="images/1.jpg" alt="image01" /></a></li>
                                    <li><a href="#"><img src="images/thumbs/2.jpg" data-large="images/2.jpg" alt="image02" /></a></li>
                                    <li><a href="#"><img src="images/thumbs/3.jpg" data-large="images/3.jpg" alt="image03" /></a></li>
                                    <li><a href="#"><img src="images/thumbs/4.jpg" data-large="images/4.jpg" alt="image04" /></a></li>
                                    <li><a href="#"><img src="images/thumbs/5.jpg" data-large="images/5.jpg" alt="image05" /></a></li>
                                    <li><a href="#"><img src="images/thumbs/6.jpg" data-large="images/6.jpg" alt="image06" /></a></li>
                                    <li><a href="#"><img src="images/thumbs/7.jpg" data-large="images/7.jpg" alt="image07" /></a></li>
				</ul>
                            </div>
			</div>
                    <!-- End Elastislide Carousel Thumbnail Viewer -->
                    </div><!-- rg-thumbs -->
              </div><!-- rg-gallery -->
                
		<p class="sub">The core content of the mid-term business plan of Tokyu Land Indonesia is to introduce its original brand of building of Tokyu Land Holdings named "BRANZ". This is the first case of the Japanese real estate introduces its original property brand outside of Japan.</p>
<!--                <div class="contact-btn">
                    <button type="button" class="btn btn-default btn-contact" onClick="location.href= '/contact.php'"><b>Contact Us</b></button>

                </div>-->
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive" src="images/branz_project-title.jpg" alt="branz_project-title" style="margin: 50px auto;"/>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="icon-branz">
                                <a href="http://branz-bsd.com"><img style="max-width: 383px; width: 100%" src="images/branz_bsd-img.jpg" alt="branz-bsd"/></a>
                                <div class="bsd-text" style="background-color: #ffffff;padding: 10px;">
                                    <p><b>Branz BSD (Condominium)</b></p>
                                    <p><b>Open Date:</b> 2018 scheduled for completion</p>
                                    <p><b>Unit:</b> 1256 (1st Phase)</p>
                                    <p><b>Website:</b><a href="http://branz-bsd.com"> http://branz-bsd.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="icon-branz-2" style="width: 383px">
                                <a href="http://branz-simatupang.com"><img style="max-width: 383px; width: 100%" src="images/branz_simatupang-img.jpg" alt="branz-bsd"/></a>
                                <div class="simatupang-text" style="background-color: #ffffff;padding: 10px;">
                                    <p><b>Branz Simatupang (Condominium)</b></p>
                                    <p><b>Open Date:</b> 2018 scheduled for completion</p>
                                    <p><b>Unit:</b> 381</p>
                                    <p><b>Website:</b><a href="http://branz-simatupang.com"> http://branz-simatupang.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <embed width="266" height="52" src="swf/logo_tokyuland.swf" style="margin-left: 39%; margin-top: 30px;">-->
                    <a href="http://tokyuland-id.com"><img src="images/logo_tokyuland.jpg" style="margin-left: 39%; margin-top: 30px;" alt="logo_tokyuland "/></a>     
            </div>
            <p class="copy-text">Copyright ©2015 TOKYU LAND INDONESIA | All rights reserved</p>

            </div><!-- content -->

</div><!-- container -->
            <div class="footer-bg">
                <img class="img-responsive" src="images/footer_branz.jpg" alt="footer" style="margin: 0 auto;">
                
            </div>
<!--        </div>-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.elastislide.js"></script>
        <script type="text/javascript" src="js/gallery.js"></script>
<!--</div>       -->
        <!-- Mobile Version -->

<div id="mobile-version">
     
   <div class="container">
        <div class="header-image-mobile">
            <a href="http://tokyuland-id.com" class="home-back-mobile">Home</a>
        </div>
<!--       <button type="button" class="btn btn-project" style="z-index: 100"><b>Project</b></button>-->
<!--<a class="btn btn-project" style="z-index: 100" href="#project"><b>Project</b></a>-->
        <div class="header-project-mobile">
            <div class="header-project">
                <a style="z-index: 100" href="#project"><b>PROJECT</b></a>
            </div>
            <div class="arrow-down"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="img-responsive" src="images/mobile_version1.jpg" alt="mobile-version">
                
            </div>
        </div>
        <a name="project"></a>
        <div class="row">
            <div class="col-sm-12">
                <img class="img-responsive" src="images/branz_project-title.jpg" alt="branz_project-title" style="padding: 10px 0;"/>
            </div>
            <div class="col-sm-12">
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    <a href="http://branz-bsd.com"><img class="img-responsive" style="max-width: 383px; width: 100%" src="images/branz_bsd-img-mobile.jpg" alt="branz-bsd"/></a>
                    <div class="bsd-text" style="background-color: #fff; padding: 10px;">
                        <p><b>Branz BSD (Condominium)</b></p>
                        <p><b>Open Date:</b> 2018 scheduled for completion</p>
                        <p><b>Unit:</b> 1256 Unit (1st Phase)</p>
                        <p><b>Website:</b><a href="http://branz-bsd.com"> http://branz-bsd.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    <a href="http://branz-simatupang.com"><img class="img-responsive" style="max-width: 383px; width: 100%" src="images/branz_simatupang-img-mobile.jpg" alt="branz-bsd"/></a>
                    <div class="simatupang-text" style="background-color: #fff; padding: 10px;">
                        <p><b>Branz Simatupang (Condominium)</b></p>
                        <p><b>Open Date:</b> 2018 scheduled for completion</p>
                        <p><b>Unit:</b> 381</p>
                        <p><b>Website:</b><a href="http://branz-simatupang.com"> http://branz-simatupang.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <img class="img-responsive" src="images/mobile_version_footer.jpg" alt="branz-logo" style="padding: 20px 0;"/>
            </div>
        </div>
        </div>
        <div>
            <div>
                <a href="#" class="scrollToOrigin img-responsive"></a>
            </div>
            <p class="copy-text">Copyright ©2015 TOKYU LAND INDONESIA | All rights reserved</p>
        </div>
        
        <div style="margin-top: 20px;">
<!--            <div class="col-sm-12">-->
                <div id="footer-image-mobile">
                    <a href="http://tokyuland-id.com"><img class="img-responsive" src="images/btn_home_bottom_mobile.png" alt="" style="margin-left: 17%; padding-top: 15px;"></a>
                    
                </div>
<!--            </div>-->
        </div>   
</div>
       
<script type="text/javascript">
$(document).ready(function(){
	
	//Check to see the position of the window
        var num = 0;
        var top = $('html').offset().top;
        
        
        $(window).scroll(function(){
           
           if($(this).scrollTop() === top){
               $('.scrollToTop').fadeOut();
               $('.scrollToBottom').fadeIn();
           }else if($(this).scrollTop() >= 2600){
               $('.scrollToTop').fadeIn();
               $('.scrollToBottom').fadeOut();
           }else{
               $('.scrollToTop').fadeIn();
               $('.scrollToBottom').fadeIn();   
           }
        });
        
        $('.scrollToTop').click(function(){
            $('html, body').animate({scrollTop : num=num-450},800); 
            return false; 
        });
        
        $('.scrollToBottom').click(function(){
            $('html, body').animate({scrollTop : num=num+450},800); 
            return false; 
        });
        
        $(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('.scrollToOrigin').fadeIn();
		} else {
			$('.scrollToOrigin').fadeOut();
		}
	});
        
        $('.scrollToOrigin').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
	
});
</script>
    </body>
</html>