{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="project-wrapper">
        <div class="mobile-about">
            <h1>Project - Tokyu Land Indonesia</h1>
        </div>
        <div class="tokyuland-project">
            <div class="row">
                {% for project in project_data %}
                    <div class="small-12 columns" style="text-align: center;">
                        <a href="{{ project.web }}" target="_blank">
                            <img style="width: 100%" src="{{ base_url() }}media/project/{{ project.image }}"/>
                        </a>
                    </div>
                    <div class="small-12 columns">
                        <div class="title-project">
                            {{ project.name }} ({{ project.type }})
                        </div>
                        <div class="content-project">
                            <div>{{ project.detail }}</div>
                            <div><b>Web: </b><a href="{{ project.web }}" target="_blank">{{ project.web }}</a></div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div style="height: 20px;"></div>
                {% endfor %}
            </div>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
{% endblock %}