<<<<<<< HEAD
{% extends "pages/views/template_frontend.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ base_url() }}">Home</a></li>
        <li class="active">{{ page_title }}</li>
    </ol>
{% endblock %}

{% block front_content %}
    <div class="title">
        <div class="title-left"></div>
        <div class="title-right"></div>
        <h2>{{ page_title }}</h2>
    </div>
    <ul class="nav nav-tabs-tutorial">
        {% for project in project_list %}
            <li class="{{ loop.index0 == 0 ? 'active' : '' }}">
                <a href="{{ base_url() }}project/{{ project.id }}">{{ project.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id='content' class="tab-content">
        <div class="active">
            <div class="tutorial-display">
                <p class="title-tutorial">{{ project_name }}</p>
                <div class="scrollbox">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                {% for project_image in project_image_list %}
                                    <a class="project-image-list col-sm-3" data-title="{{ project_image.name }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ base_url() }}media/project/{{ project_image.filename }}">
                                        <img src="{{ base_url() }}media/project/thumbnail/{{ project_image.filename }}" alt="{{ project_image.name }}" />
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block front_css %}
    {{ parent() }}
    {{ asset_css('ekko-lightbox.css') | raw }}
{% endblock %}

{% block front_js %}
    {{ parent() }}
    {{ asset_js('ekko-lightbox-min.js') | raw }}
    {{ asset_js('enscroll-0.6.0.min.js') | raw }}
    <script type="text/javascript">
        $(window).load(function(){
            $('.scrollbox').enscroll({
                verticalTrackClass: 'track1',
                verticalHandleClass: 'handle1',
                verticalTrackWrapper: 'wrapper1',
                drawScrollButtons: true
            });
            
            $('#myTab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
            
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking out the events huh?');
                        }
                    },
                    onNavigate: function(direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                        }
                    }
                });
            });
            
            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        var a = this.modal_content.find('.modal-footer a');
                        if(a.length > 0) {
                            a.click(function(e) {
                                e.preventDefault();
                                this.navigateTo(2);
                            }.bind(this));
                        }
                    }
                });
            });
        });
    </script>
=======
{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-project">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="#">Home</a></li>
                <li class="current"><a href="#">Project</a></li>
            </ul>
        </div>
        <div class="row">
            <h1>PROJECT - TOKYU LAND INDONESIA</h1>
            <div class="small-3 columns">
                <img src="{{ base_url() }}/assets/css/images/project-sample.jpg"/>
            </div>
            <div class="small-9 columns">
                <div class="title-project">
                    Setiabudi Sky Garden (Condominium)
                </div>
                <div class="content-project">
                    <p>
                        Project with<br/>
                        PT. Jakarta Setiabudi Internasional Tbk (JSI)<br/>
                        586 units, now on sale<br/>
                        2015 completed<br/><br/>

                        <a href="#">http://www.setiabudiskygarden.com/</a>
                    </p>
                </div>
            </div>
            <div style="clear: both"></div>
            <div style="height: 20px;"></div>
            <div class="small-3 columns">
                <img src="{{ base_url() }}/assets/css/images/project-sample.jpg"/>
            </div>
            <div class="small-9 columns">
                <div class="title-project">
                    Setiabudi Sky Garden (Condominium)
                </div>
                <div class="content-project">
                    <p>
                        Project with<br/>
                        PT. Jakarta Setiabudi Internasional Tbk (JSI)<br/>
                        586 units, now on sale<br/>
                        2015 completed<br/><br/>

                        <a href="#">http://www.setiabudiskygarden.com/</a>
                    </p>
                </div>
            </div>
            <div style="clear: both"></div>
            <div style="height: 20px;"></div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
>>>>>>> d8d02baab0a34ebae4817e296aee8d4c9331a8c2
{% endblock %}