{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-project">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="#">Home</a></li>
                <li class="current"><a href="#">Project</a></li>
            </ul>
        </div>
        <div class="row">
            <h1>PROJECT - PT Tokyu Land Indonesia</h1>
            
            {% for project in project_data %}
                <div class="small-3 columns">
                    <a href="{{ project.web }}" target="_blank">
                        <img src="{{ base_url() }}media/project/{{ project.image }}"/>
                    </a>
                </div>
                <div class="small-9 columns">
                    <div class="title-project">
                       {{ project.name }} ({{ project.type }})
                    </div>
                    <div class="content-project">
                        <div>{{ project.detail }}</div>
                        <div><b>Web: </b><a href="{{ project.web }}" target="_blank">{{ project.web }}</a></div>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div style="height: 20px;"></div>
            {% endfor %}
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}

{% endblock %}