{% extends "backend/template.twig" %}

{% block backend_css %}
	{{ parent() }}
	<!-- dataTables css -->
	{{ asset_css('datatables/dataTables.bootstrap.css') | raw }}
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{# Set page title and subtitle manually #}
		Facebook Management
		<small>Participant</small>
	</h1>
	{# Also set breadcrumb manually #}
	<ol class="breadcrumb">
		<li><a href="{{ base_url() }}backend">Home</a></li>
		<li>Facebook Management</li>
		<li class="active">Participant</li>
	</ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ error_message | raw }}
</div>
{% endif %}

	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive">
					<table id="table-level" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>FB SUID</th>
							<th>FullName</th>
							<th>Link</th>
							<th>Email</th>
							<th>Gender</th>
						</tr>
					</thead>
					<tbody>
						{% for participant in participant_list %}
						<tr>
							<td>{{ participant.fb_suid }}</td>
							<td>{{ participant.fb_fullname }}</td>
							<td>{{ participant.fb_link }}</td>
							<td>{{ participant.fb_email }}</td>
							<td>{{ participant.gender }}</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	<!-- page script -->
	<script type="text/javascript">
		$(function() {
			$("#table-level").dataTable();
		} );
	</script>
{% endblock %}