{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-business">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">About Us</a></li>
                <li class="current">History in Indonesia</li>
            </ul>
        </div>
        <div class="row about-sub-menu">
            <div class="small-2 columns">
                About us |
            </div>
            <div class="small-10 columns">
                <ul class="inline-list">
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">President Director’s Message</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</a></li>
                    <li><a class="active" href="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h3>
                    <strong>Business Development</strong>
                </h3>
                <div class="business-slogan">
                    TOKYU LAND INDONESIA: <span>Creating new urban landscapes, creating the future.</span>
                </div>
                <div class="business-subtitle">
                    Businesses we aim to expand:
                </div>
                <div class="small-text-center">
                    <img src="{{ base_url() }}/assets/css/images/business-chart-{{ current_lang }}.png"/>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}
