{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-company">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">About Us</a></li>
                <li class="current">Company Profile</li>
            </ul>
        </div>
        <div class="row about-sub-menu">
            <div class="small-2 columns">
                About us |
            </div>
            <div class="small-10 columns">
                <ul class="inline-list">
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">President Director’s Message</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</a></li>
                    <li><a class="active" href="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h3>
                    <strong>Company Profile</strong>
                </h3>
                <div class="company-profile">
                    <div class="right text-center small-6 columns profile-content">
                        <h4>ESTABLISHED</h4>
                        <p>- 27 JULY 2012 -</p>
                        <h4>Headquarters</h4>
                        <p>
                            The Plaza Office Tower, 19th.Fl<br/>
                            Jl. MH. Thamrin Kav. 28-30<br/>
                            Jakarta 10350<br/>
                            Indonesia
                        </p>
                        <h4>CAPITAL</h4>
                        <p>56.000.000 USD</p>
                        <h4>PRESIDENT DIRECTOR</h4>
                        <p>KEIJI SAITO</p>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="height: 30px"></div>
            <div>
                <div class="company-maps-title">
                    FIND US HERE
                </div>
                <div style="height: 30px"></div>
                <div class="small-text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5831470440667!2d106.82319099999998!3d-6.186499999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f428a9019247%3A0xf54ef8d877de30d8!2sPT+Tokyu+Land+Indonesia!5e0!3m2!1sen!2sid!4v1432117561840" width="796" height="372" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}
