{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-group" id="top-group">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li class="current">About Group</li>
            </ul>
        </div>
        <div class="row">
            <h1>ABOUT GROUP</h1>
            <div>
                <ul class="button-group">
                    <li><a id="fodusanClick" class="button">Tokyu Fudosan Holdings</a></li>
                    <li><a id="landClick" class="button">Tokyu Land Corporation</a></li>
                    <li><a id="groupClick" class="button second">Tokyu Group Companies</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="fodusan" class="group-box">
                <div>
                    <img src="{{ base_url() }}/assets/css/images/fodusan-new.png"/>
                </div>
                <div style="height: 20px;"></div>
                <div class="holding">
                    <h2>Tokyu Fudosan Holdings Data</h2>
                    <p>
                        Tokyu Fudosan Holdings—Continuing to create new value for living, business, and culture in Japan
                    </p>
                </div>
                <div class="holding-data" data-equalizer>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="img-holding">
                            <img src="{{ base_url() }}/assets/css/images/109.jpg"/>
                        </div>
                        <div class="text-holding">
                            {{ lang ('fodusan-109') }}
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="img-holding">
                            <img src="{{ base_url() }}/assets/css/images/19000.jpg"/>
                        </div>
                        <div class="text-holding">
                            {{ lang ('fodusan-19000') }}
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="img-holding">
                            <img src="{{ base_url() }}/assets/css/images/88000.jpg"/>
                        </div>
                        <div class="text-holding">
                            {{ lang ('fodusan-88000') }}
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="holding-data" data-equalizer>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="img-holding">
                            <img src="{{ base_url() }}/assets/css/images/59.jpg"/>
                        </div>
                        <div class="text-holding">
                            {{ lang ('fodusan-59') }}
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="img-holding">
                            <img src="{{ base_url() }}/assets/css/images/646.jpg"/>
                        </div>
                        <div class="text-holding">
                            {{ lang ('fodusan-646') }}
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="img-holding">
                            <img src="{{ base_url() }}/assets/css/images/78.jpg"/>
                        </div>
                        <div class="text-holding">
                            {{ lang ('fodusan-7') }}
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="holding data"><div class="current">* Current as of April 2016</div></div>
                <div class="row">
                    <div class="link-group">
                        <a href="http://www.tokyu-fudosan-hd.co.jp/english/" target="_blank"><strong>Visit  TOKYU FUDOSAN HOLDINGS Web site</strong></a>
                    </div>
                </div>
            </div>
            <div style="height: 50px;"></div>
            <div id="land" class="group-box">
                <div class="tokyuland-land">
                    <div class="img-land">
                        <img src="{{ base_url() }}/assets/css/images/title-land.jpg"/>
                    </div>
                    <div style="height: 20px;"></div>
                    <div class="sub-land">
                        <p>Creating urban landscapes, supporting lifestyles, and opening doors to the future. Tokyu Fudosan Holdings’ business ties in to all aspects of life. </p>
                    </div>
                    <div class="land-data" data-equalizer>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp">
                                <div class="title-land-corp">
                                    <p class="big-one">C</p><p class="small-one">omfortable offices that</p>
                                    <p class="small-one">speed up business development</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/comfortable.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-comfort') }}
                                </div>
                            </div>

                        </div>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp mid-wrap-land">
                                <div class="title-land-corp">
                                    <p class="big-one">P</p><p class="small-one">roviding support for secure and healthy senior living</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/providing.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-prov') }}
                                </div>
                            </div>
                        </div>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp last-wrap-land">
                                <div class="title-land-corp">
                                    <p class="big-one">R</p><p class="small-one">esorts that heal people, and are kind to the environment</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/resorts.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-resorts') }}
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="land-data" data-equalizer>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp">
                                <div class="title-land-corp">
                                    <p class="big-one">B</p><p class="small-one">oldly proposing a new style of working</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/boldly.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-bold') }}
                                </div>
                            </div>

                        </div>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp mid-wrap-land">
                                <div class="title-land-corp">
                                    <p class="big-one">C</p><p class="small-one">ommercial facilities that create new value for the city</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/commercial.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-commercial') }}
                                </div>
                            </div>
                        </div>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp last-wrap-land">
                                <div class="title-land-corp">
                                    <p class="big-one">H</p><p class="small-one">omes that fulfill dreams and desires</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/homes.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-homes') }}
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="land-data" data-equalizer>
                        <div class="small-4 columns" data-equalizer-watch>
                            <div class="wrap-land-corp">
                                <div class="title-land-corp">
                                    <p class="big-one">O</p><p class="small-one" style="margin-top:10px; ">verseas projects</p>
                                </div>
                                <div class="img-land-corp">
                                    <img src="{{ base_url() }}/assets/css/images/overseas.jpg"/>
                                </div>
                                <div class="content-land-corp">
                                    {{ lang ('land-overseas') }}
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                </div>
            </div>
            <div class="row">
                <div class="link-group">
                    <a href="http://www.tokyu-land.co.jp/english/" target="_blank"><strong>Visit  TOKYU LAND CORPORATION Web site</strong></a>
                </div>
            </div>
        </div>
        <div style="height: 50px;"></div>
        <div id="group" class="group-box">
            <div class="tokyuland-land">
                <h2>Tokyu Group Companies</h2>
                <div class="sub-land">
                    <p>Creating urban landscapes, supporting lifestyles, and opening doors to the future. Tokyu Fudosan Holdings’ business ties in to all aspects of life. </p>
                </div>
                <div class="land-data" data-equalizer>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="wrap-land-corp">
                            <div class="title-group-comp">
                                <img src="{{ base_url() }}/assets/css/images/hands.png"/>
                            </div>
                            <div class="img-land-corp">
                                <img src="{{ base_url() }}/assets/css/images/hands-img.jpg"/>
                            </div>
                            <div class="content-land-corp">
                                {{ lang ('group-hands') }}
                            </div>
                        </div>

                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="wrap-land-corp">
                            <div class="title-group-comp">
                                <img src="{{ base_url() }}/assets/css/images/livable.png"/>
                            </div>
                            <div class="img-land-corp">
                                <img src="{{ base_url() }}/assets/css/images/livable-img.jpg"/>
                            </div>
                            <div class="content-land-corp">
                                {{ lang ('group-livable') }}
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="wrap-land-corp">
                            <div class="title-group-comp">
                                <img src="{{ base_url() }}/assets/css/images/community.png"/>
                            </div>
                            <div class="img-land-corp">
                                <img src="{{ base_url() }}/assets/css/images/comm-img.jpg"/>
                            </div>
                            <div class="content-land-corp">
                                {{ lang ('group-comm') }}
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="land-data" data-equalizer>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="wrap-land-corp">
                            <div class="title-group-comp">
                                <img src="{{ base_url() }}/assets/css/images/oasis.png"/>
                            </div>
                            <div class="img-land-corp">
                                <img src="{{ base_url() }}/assets/css/images/oasis-img.jpg"/>
                            </div>
                            <div class="content-land-corp">
                                {{ lang ('group-oasis') }}
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="wrap-land-corp">
                            <div class="title-group-comp">
                                <img src="{{ base_url() }}/assets/css/images/stay.png"/>
                            </div>
                            <div class="img-land-corp">
                                <img src="{{ base_url() }}/assets/css/images/stay-img.jpg"/>
                            </div>
                            <div class="content-land-corp">
                                {{ lang ('group-stay') }}
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" data-equalizer-watch>
                        <div class="wrap-land-corp">
                            <div class="title-group-comp">
                                <img src="{{ base_url() }}/assets/css/images/homes.png"/>
                            </div>
                            <div class="img-land-corp">
                                <img src="{{ base_url() }}/assets/css/images/homes-img.jpg"/>
                            </div>
                            <div class="content-land-corp">
                                {{ lang ('group-homes') }}
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper ">
        <img src="{{ base_url()}}/assets/css/images/top-land.png"/>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.equalizer.js') | raw }}

    <script>
        $("#fodusanClick").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $("#fodusan").offset().top
            }, 1000);
            //});
        });

        $("#landClick").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $("#land").offset().top
            }, 1700);
            //});
        });

        $("#groupClick").click(function (){
            //$(this).animate(function(){
            $('html, body').animate({
                scrollTop: $("#group").offset().top
            }, 1700);
            //});
        });

        $(function(){

            $(document).on( 'scroll', function(){

                if ($(window).scrollTop() > 500) {
                    $('.scroll-top-wrapper').addClass('show');
                } else {
                    $('.scroll-top-wrapper').removeClass('show');
                }
            });

            $('.scroll-top-wrapper').on('click', scrollToTop);
        });

        function scrollToTop() {
            verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
            element = $('body');
            offset = element.offset();
            offsetTop = offset.top;
            $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
        }
    </script>
{% endblock %}