{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-history">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">About Us</a></li>
                <li class="current">History in Indonesia</li>
            </ul>
        </div>
        <div class="row about-sub-menu">
            <div class="small-2 columns">
                About us |
            </div>
            <div class="small-10 columns">
                <ul class="inline-list">
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">President Director’s Message</a></li>
                    <li><a class="active" href="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h3>
                   <strong>History In Indonesia</strong><br/>
                   Tokyu Land Corporation journey began in 1953.<br/>
                   Our deep bonds with Indonesia that have endured since 1975.
                </h3>
                <p>
                    {{ lang('history1') }}
                </p>
                <p>
                    {{ lang('history2') }}
                </p>
                <div class="small-text-center">
                    <img style="width: 100%;" src="{{ base_url() }}/assets/css/images/timeline-history-{{ current_lang }}.png"/>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
</div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}
