{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="about-wrapper">
        <div class="mobile-about">
            <h1>About Us</h1>
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option value="{{ base_url() }}{{ current_lang }}/about-us/president">President Director's Message</option>
                <option selected value="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</option>
            </select>
        </div>
        <div class="tokyuland-slogan">
            <div class="row">
                TOKYU LAND INDONESIA:<br/><br/>
                Creating new urban landscapes,
                creating the future.
            </div>
        </div>
        <div class="about-title">
            <div class="row">
                Business We Aim to Expand :
            </div>
        </div>
        <div class="about-image">
            <img src="{{ base_url() }}/assets/css/images/business-image-{{ current_lang }}.jpg"/>
        </div>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
{% endblock %}