{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="about-wrapper">
        <div class="mobile-about">
            <h1>About Us</h1>
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option value="{{ base_url() }}{{ current_lang }}/about-us/president">President Director's Message</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</option>
                <option selected value="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</option>
            </select>
        </div>
        <div class="">
            <div class="row" style="padding-bottom: 0;">
                <div class="text-center small-12 columns profile-content">
                    <h4>ESTABLISHED</h4>
                    <p>- 27 JULY 2012 -</p>
                    <h4>Headquarters</h4>
                    <p>
                        The Plaza Office Tower, 19th.Fl<br/>
                        Jl. MH. Thamrin Kav. 28-30<br/>
                        Jakarta 10350<br/>
                        Indonesia
                    </p>
                    <h4>CAPITAL</h4>
                    <p>56.000.000 USD</p>
                    <h4>PRESIDENT DIRECTOR</h4>
                    <p style="margin-bottom: 0;">KEIJI SAITO</p>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="about-content">
            <div class="row">
                <div>
                    <div class="company-maps-title">
                        FIND US HERE
                    </div>
                    <div style="height: 30px"></div>
                    <div class="small-text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5831470440667!2d106.82319099999998!3d-6.186499999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f428a9019247%3A0xf54ef8d877de30d8!2sPT+Tokyu+Land+Indonesia!5e0!3m2!1sen!2sid!4v1432117561840" height="372" frameborder="0" style="border:0; width: 90%;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}