{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="about-wrapper">
        <div class="mobile-about">
            <h1>About Us</h1>
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option value="{{ base_url() }}{{ current_lang }}/about-us/president">President Director's Message</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</option>
                <option selected value="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</option>
            </select>
        </div>
        <div class="president-message">
            <div class="row">
                <h3>
                   <strong>History In Indonesia</strong><br/>
                   Tokyu Land Corporation journey began in 1953.<br/>
                   Our deep bonds with Indonesia that have endured since 1975.
                </h3>
            </div>
        </div>
        <div class="about-content">
            <div class="row">
                <p>
                    {{ lang('history1') }}
                </p>
                <p>
                    {{ lang('history2') }}
                </p>
            </div>
        </div>
        <div class="about-image">
            <img style="width: 100%;" src="{{ base_url() }}/assets/css/images/timeline-history-{{ current_lang }}.png"/>
        </div>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
{% endblock %}