{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="about-wrapper">
        <div class="mobile-about">
            <h1>About Us</h1>
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option selected value="{{ base_url() }}{{ current_lang }}/about-us/president">President Director's Message</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</option>
                <option value="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</option>
            </select>
        </div>
        <div class="president-message">
            <div class="row">{{ lang('head-director') }}</div>
        </div>
        <div class="about-image">
            <img src="{{ base_url() }}/assets/css/images/president-resize.jpg">
        </div>
        <div class="about-content">
            <div class="row">
                <p>{{ lang('director1') }}</p>
                <p>{{ lang('director2') }}</p>
                <p>{{ lang('director3') }}</p>
            </div>
        </div>
        <div class="about-image">
            <div class="row text-right">
                <div class="text-right">
                    <img src="{{ base_url() }}assets/css/images/president-signature.jpg" style="width: 50%;">
                </div>
                <strong style="font-size: 13px;">Keiji Saito<br>President Director</strong>
                <br>PT. TOKYU LAND INDONESIA
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
    {{ asset_js('foundation/foundation.orbit.js') | raw }}
{% endblock %}