{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-president">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li><a href="{{ base_url() }}{{ current_lang }}/about-us/president">About Us</a></li>
                <li class="current">President Director's Message</li>
            </ul>
        </div>
        <div class="row about-sub-menu">
            <div class="small-2 columns">
                About us |
            </div>
            <div class="small-10 columns">
                <ul class="inline-list">
                    <li><a class="active" href="{{ base_url() }}{{ current_lang }}/about-us/president">President Director’s Message</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/history">History in Indonesia</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/business">Business Development</a></li>
                    <li><a href="{{ base_url() }}{{ current_lang }}/about-us/company">Company Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <img src="{{ base_url() }}/assets/css/images/president-resize.jpg">
            </div>
            <div class="small-7 columns">
                <p>President director’s message :</p>
                <p>{{ lang('head-director') }}</p>
                <div class="vcard">
                    <p>{{ lang('director1') }}</p>
                    <p>{{ lang('director2') }}</p>
                    <p>{{ lang('director3') }}</p>

                    <div class="small-text-right" style="font-size: 12px">
                        <img src="{{ base_url() }}/assets/css/images/president-signature.jpg"/><br>
                        <strong style="font-size: 13px;">Keiji Saito<br>President Director</strong>
                        <br>PT. TOKYU LAND INDONESIA
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
    {{ parent() }}
{% endblock %}
