{% extends "backend/template.twig" %}

{% block backend_css %}
	{{ parent() }}
	<!-- dataTables css -->
	{{ asset_css('datatables/dataTables.bootstrap.css') | raw }}
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{# Set page title and subtitle manually #}
		Footer Banner Management
		<small>Image List</small>
	</h1>
	{# Also set breadcrumb manually #}
	<ol class="breadcrumb">
		<li><a href="{{ base_url() }}backend">Home</a></li>
		<li class="active">Footer Banner Management</li>
	</ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ error_message | raw }}
</div>
{% endif %}

	<div class="box box-solid">
		<div class="box-body text-right">
			<a href="{{ base_url() }}backend/footer-management/add">
				<button class="btn btn-default">Create</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body table-responsive">
					<table id="table-slide-images" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Status</th>
							<th>Seq</th>
							<th>Image</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for footer in footer_list %}
						<tr>
							<td>{{ footer.id }}</td>
							<td>{{ footer.name }}</td>
							<td>{{ footer.get_status_name() }}</td>
							<td>{{ footer.seq }}</td>
							<td><img src="{{ base_url() }}media/footer/thumbnail/{{ footer.filename }}"</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{{ base_url() }}backend/footer-management/edit/{{ footer.id }}">Edit</a></li>
										<li><a class="btn-rearrange" data-url-rearrange="{{ base_url() }}backend/footer-management/rearrange/{{ footer.id }}" href="#">Rearrange Seq</a></li>
                                        <li><a class="btn-delete" data-url-delete="{{ base_url() }}backend/footer-management/delete/{{ footer.id }}" href="#">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	<!-- custom script -->
	<script type="text/javascript">
		$(function() {
			$("#table-slide-images").dataTable( {
				"aoColumns": [ 
					null,
					null,
					null,
					null,
					{ "bSearchable": false, "bSortable": false },
					{ "bSearchable": false, "bSortable": false }
				]
			} );
		} );
	</script>
	<!-- Dialog Confirmation Script -->
	{{ asset_js('backend-dialog.js') | raw }}
	<script type="text/javascript">
		jQuery('#table-slide-images').on('click', '.btn-delete', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-delete');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to delete this?', yes_callback);
		});
        jQuery('#table-slide-images').on('click', '.btn-rearrange', function(e){
			e.preventDefault();
			var my = jQuery(this),
				url_del = my.data('url-rearrange');
			var yes_callback = function(e){
				e.preventDefault();
				jQuery(location).attr('href', url_del);
			}
			backend_dialog.show_dialog_confirm('Are you sure want to rearrange from this?', yes_callback);
		});
	</script>
{% endblock %}