

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header{
    position: relative;
}

.header-item{
    position: relative;
    overflow-x: hidden;
}

.mobile-logo{
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 100%;
}

.sticky-menu{
    display:none;
    -webkit-transition: all 2s time;-moz-transition: all 2s time;-ms-transition: all 2s time;-o-transition: all 2s time;transition: all 2s time;
}

.fixed .sticky-menu{
    display: block;
}

.banner-image img{
    width: 100%;
}

.mobile-logo  img{
    width: 58%;
}

.sticky-menu img{
    width: 100%;
}

.top-bar{
    background: #ffffff;
    border: 1px solid #dddddd;
}

.top-bar .toggle-topbar{
    right: auto;
    left: 0;
}

.name{
    text-align: right;
}

.expanded .name{
    visibility: hidden;
}

.expanded .top-bar .toggle-topbar {
    right: 165px;
    left: auto;
}

.fixed.expanded:not(.top-bar) .top-bar-section{
    margin-top:0;
    z-index: 99;
    width: 75%;
    top: 0;
}

.fixed .top-item{
    display: none;
}

.top-fixed{
    display: none;
}

.fixed .top-fixed{
    display: block;
}

.top-bar .toggle-topbar.menu-icon a span::after{
    box-shadow: 0 0 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
}

.top-bar .name h1 a{
    color: #000000;
}

.top-bar .toggle-topbar.menu-icon{
    margin-top: -20px;
    left: 10px;
    border: 1px solid #dddddd;
}

.top-bar.expanded  .toggle-topbar.menu-icon{
    right: 30px;
    left: auto;
}

.top-bar .toggle-topbar.menu-icon a{
    padding-left: 0;
    padding-right: 46px;
}

.top-bar.expanded .title-area{
    background: #ffffff;
    border: 1px solid #dddddd;
}

.top-bar.expanded{
    background: none;
    border: none;
}

.top-bar-section ul li>a{
    color: #000000;
}

.expanded .top-bar-section{
    top: -45px;
}

.expanded .top-bar-section ul{
    width: 75%;
    border: 1px solid #dddddd;
}

.fixed.expanded .top-bar-section ul{
    width: 100%;
}


.expanded .top-bar-section ul li{
    background: #ffffff;
    border: 1px solid white;
}

.contain-to-grid{
    background: none;
    position: absolute;
    z-index: 1;
}

.contain-to-grid.fixed{
    position: fixed;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
    background: #ebebeb;
    color: #000000;
}

.name a , .left-lang a{
    font-size: 12px;
    border: 1px solid #dddddd;
    padding: 10px;
    color: #000000;
}

.name a:hover, .name a:focus, .name a.active , .left-lang a:hover, .left-lang a:focus, .left-lang a.active{
    background: #ec413a;
    color: #ffffff;
}

.m-lang{
    padding: 8px 0 8px 0;
    display: inline-block;
    margin-right: 35px;
}

.m-lang:first-child{
    margin-right: 10px;
}

.left-lang{
    text-align: center;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    background: #ebebeb;
}

.footer{
    padding: 20px;
    font-size: 9px;
    text-align: center;
}

.footer .inline-list > li{
    line-height: 19px;
    vertical-align: middle;
    margin-left: 25px;
}

.footer .inline-list > li > a{
    color: black;
    font-family: MS PMincho;
    font-size: 12px;
}

.footer .row{
    font-size: 12px;
    font-family: "MS PMincho";
    margin-bottom: 10px;
}

.footer .columns a{
    color: black;
    font-family: MS PMincho;
    font-size: 12px;
}

.footer .small-5{
    padding-right: 0;
    text-align: right;
}

.footer .small-1{
    padding: 0;
}

.footer .small-6{
    padding-left: 0;
    text-align: left;
}

.footer .footer-banner img{
    margin: 0 auto;
}

.footer-line{
    border-top: 1px #c9c9c9 solid;
    margin: 130px -20px 0 -20px;
}

.footer-line-2{
    border-top: 1px #a9a9a9 solid;
    width: 220px;
    margin: 0 auto;
}

.footer-title{
    text-align: center;
    margin: -15px 0px 15px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #ebebeb;
    width: 200px;
}

.footer .footer-title{
   margin: -10px auto 10px auto;
}

.project-home img{
    width: 100%;
}

.project-home-title{
    font-family: "MS PMincho";
    font-size: 24px;
    border-left: 4px solid #df5a2e;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.project-home h5{
    font-size: 16px;
    font-weight: bold;
}

.project-wrap{
    border: 1px solid #DDDDDD;
}

.project-home .small-12{
    padding: 0;
}
.project-home{
    padding: 20px;
}

.project-home .project-desc{
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.project-button{
    padding: 20px;
    padding-top: 0;
}

.project-button div{
    padding: 5px;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #45a638;
}

.project-button a{
    color: #45a638;
    width: 100%;

}

.orbit-container .orbit-slides-container img{
    width: 100%;
}

.branz-banner{
    width: 100%;
}

.expanded .top-bar-section ul .left-lang{
    border-top: 1px solid #DDDDDD;
}

.information{
}

.information-title{
    color: #45a638;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 15px;
}

.information-detail, .information-address{
    font-size: 12px;
    padding-bottom: 10px;
}

.information-address span{
    font-weight: bold;
    text-decoration: underline;
}

meta.foundation-mq-topbar {
    font-family: "/only screen and (min-width:9999px)/";
    width: 9999px; }

@media only screen and (min-width: 9999px) {
    .top-bar {
        background: #333333;
        overflow: visible; }
    .top-bar:before, .top-bar:after {
        content: " ";
        display: table; }
    .top-bar:after {
        clear: both; }
    .top-bar .toggle-topbar {
        display: none; }
    .top-bar .title-area {
        float: left; }
    .top-bar .name h1 a,
    .top-bar .name h2 a,
    .top-bar .name h3 a,
    .top-bar .name h4 a,
    .top-bar .name h5 a,
    .top-bar .name h6 a {
        width: auto; }
    .top-bar input,
    .top-bar select,
    .top-bar .button,
    .top-bar button {
        font-size: 0.875rem;
        height: 1.75rem;
        position: relative;
        top: 0.53125rem; }
    .top-bar.expanded {
        background: #333333; }

    .contain-to-grid .top-bar {
        margin-bottom: 0;
        margin: 0 auto;
        max-width: 62.5rem; }

    .top-bar-section {
        transition: none 0 0;
        left: 0 !important; }
    .top-bar-section ul {
        display: inline;
        height: auto !important;
        width: auto; }
    .top-bar-section ul li {
        float: left; }
    .top-bar-section ul li .js-generated {
        display: none; }
    .top-bar-section li.hover > a:not(.button) {
        background-color: #555555;
        background: #222222;
        color: #FFFFFF; }
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #333333;
        line-height: 2.8125rem;
        padding: 0 0.9375rem; }
    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: #555555;
        background: #222222; }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
        background: #008CBA;
        color: #FFFFFF;
        line-height: 2.8125rem;
        padding: 0 0.9375rem; }
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: #0078a0;
        color: #FFFFFF; }
    .top-bar-section .has-dropdown > a {
        padding-right: 2.1875rem !important; }
    .top-bar-section .has-dropdown > a:after {
        border: inset 5px;
        content: "";
        display: block;
        height: 0;
        width: 0;
        border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 1.40625rem; }
    .top-bar-section .has-dropdown.moved {
        position: relative; }
    .top-bar-section .has-dropdown.moved > .dropdown {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
        display: block; }
    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        display: block;
        position: absolute !important; }
    .top-bar-section .has-dropdown > a:focus + .dropdown {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        display: block;
        position: absolute !important; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
        border: none;
        content: "\00bb";
        top: 0.1875rem;
        right: 5px; }
    .top-bar-section .dropdown {
        left: 0;
        background: transparent;
        min-width: 100%;
        top: auto; }
    .top-bar-section .dropdown li a {
        background: #333333;
        color: #FFFFFF;
        line-height: 2.8125rem;
        padding: 12px 0.9375rem;
        white-space: nowrap; }
    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: #333333;
        color: #FFFFFF; }
    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background-color: #555555;
        color: #FFFFFF;
        background: #222222; }
    .top-bar-section .dropdown li label {
        background: #333333;
        white-space: nowrap; }
    .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider,
    .top-bar-section > ul > [role="separator"] {
        border-right: solid 1px #4e4e4e;
        border-bottom: none;
        border-top: none;
        clear: none;
        height: 2.8125rem;
        width: 0; }
    .top-bar-section .has-form {
        background: #333333;
        height: 2.8125rem;
        padding: 0 0.9375rem; }
    .top-bar-section .right li .dropdown {
        left: auto;
        right: 0; }
    .top-bar-section .right li .dropdown li .dropdown {
        right: 100%; }
    .top-bar-section .left li .dropdown {
        right: auto;
        left: 0; }
    .top-bar-section .left li .dropdown li .dropdown {
        left: 100%; }

    .no-js .top-bar-section ul li:hover > a {
        background-color: #555555;
        background: #222222;
        color: #FFFFFF; }
    .no-js .top-bar-section ul li:active > a {
        background: #008CBA;
        color: #FFFFFF; }
    .no-js .top-bar-section .has-dropdown:hover > .dropdown {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        display: block;
        position: absolute !important; }
    .no-js .top-bar-section .has-dropdown > a:focus + .dropdown {
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        display: block;
        position: absolute !important; } }

/*@media only screen and (min-width: 40.0625em) {*/
    /*.contain-to-grid .top-bar {*/
        /*margin-bottom: 0;*/
        /*margin: 0;*/
        /*max-width: 100%;*/
    /*}*/

    /*.top-bar .title-area {*/
        /*float: none;*/
    /*}*/
    /*.top-bar-section {*/
        /*transition: left 300ms ease-out;*/
         /*left: 0 !important;*/
    /*}*/
    /*.top-bar .toggle-topbar {*/
        /*display: block;*/
    /*}*/

    /*.top-bar {*/
        /*overflow: hidden;*/
    /*}*/

    /*.top-bar-section ul li {*/
        /*float: none;*/
    /*}*/

/*}*/

.terms{
    padding: 20px;
    font-size: 12px;
    padding-bottom: 0;
}

.terms p{
    padding-left: 0!important;
    font-size: 12px;
    margin: 0;
}

.terms p strong{
    font-size: 14px;
}

.privacy{
    padding: 20px;
    font-size: 12px;
    padding-bottom: 0;
}

.privacy ul{
    font-size: 12px;
}

.privacy strong{
    font-size: 14px;
}



.mobile-about, .mobile-news, .mobile-career, .mobile-contact{
    padding: 20px;
}

.mobile-about h1, .mobile-news h1, .mobile-career h1, .mobile-contact h1{
    font-size: 18px;
    font-family: "MS PMincho";
    font-weight: bold;
}

.mobile-about select, .mobile-news select{
    background-color: #ffffff;
    background-image:url("images/play-button.png") ;
    background-position:95% center;
    border-color: #777777;
}

.mobile-about select, .mobile-news select{
    font-size: 14px;
    font-family: "MS PMincho";
}

.tokyuland-slogan{
    font-size: 18px;
    font-family: MS PMincho;
    background: #686868;
    color: white;
}

.about-title{
    font-size: 18px;
}

.about-wrapper .row, .news-wrapper .row, .about-wrapper .row, .career-wrapper .row, .contact-wrapper .row{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-image img{
    width: 100%;
}

.contact-image img{
    width: 100%;
}

.president-message{
    font-size: 18px;
    font-family: "MS PMincho";
}

.about-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-content p, .career-opening p, .career-opening ul li{
    font-size: 12px;
}

.career-opening p{
    margin-bottom: 0;
}

.career-opening .row{
    padding-top: 0;
}

.news-content{
    width: 75%;
    margin: auto;
}

.news-date{
    font-size: 12px;
    margin-bottom: 20px;
}

.news-title h2{
    font-size: 18px;
    margin-bottom: 40px;
}

.news-title a{
    color: #000000;
}

.news-content hr{
    border: 1px solid #909090;
    width: 41px;
}

.news-content:last-child hr{
    display: none;
}

.career-opening h3{
    font-weight: bold;
    font-size: 16px;
}

.career-foot{
    font-size: 12px;
}

.career-opportunity h4{
    font-family: "MS PMincho";
    font-size: 24px;
}

.career-foot span{
    font-size: 14px;
    color: #45a638;
}

.active .fa-play{

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

}

.accordion .accordion-navigation > a, .accordion dd > a{
    background: none;
    padding: 0;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover{
    background: none;
}
.accordion{
    margin-left: 0;
}

.accordion-navigation p {
    padding-left: 20px;
    margin-bottom: 0;
}

.accordion .accordion-navigation>.content {
    padding-left: 20px;
}

.accordion-navigation hr {
    margin-left: 20px;
}


.contact-form input[type="text"] , .contact-form input[type="email"]{
    border-radius: 10px;
    height: 2rem;
    width: 100%;
    display: inline-block;
}

.contact-form .error small.error{
    display: inline-block;
    background: none;
    color: red;
}


.contact-form input:focus, .contact-form input:hover, .contact-form textarea:hover{
    border: 2px solid #45a638;
}

.contact-form input:focus{
    background: none;
}

.contact-form input[readonly]:focus{
    background: #ddd;
}

.contact-form input[type="submit"]{
    border: 2px solid #a2d29b;
    background: none;
    color: #000000;
}

.contact-form textarea{
    border-radius: 10px;
    resize: none;
    height: 200px;
}

.contact-form textarea:focus{
    background: none;
}


.contact-form input[type="radio"]{
    display: none;
}

.contact-form label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 12px;
}

.contact-form label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #818181;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 8px;
}

.contact-form input[type=radio]:checked + label:before {
    content: "\2022";
    color: #45a638;
    border: 1px solid #45a638;
    font-size: 35px;
    line-height: 15px;
    text-align: center;
}

.contact-info p{
    font-size: 12px;
}

.title-project{
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0;
}

.content-project p{
    font-size: 12px !important;
    line-height: 1.4;
}

.content-project p span{
    font-size: 12px !important;
    line-height: 1.4;
}

.content-project a{
    font-size: 12px !important;
    line-height: 1.4;
    font-weight: bold;
    color: #000000;
}

.content-project{
    font-size: 12px;
    padding: 20px;

}

.company-maps-title{
    text-align: center;
    font-family: "MS PMincho";
    font-size: 20px;
    color: #ffffff;
    background: #45a638;
    padding: 5px;
}
.contact-form .error small.error{
    display: inline-block;
    background: none;
    color: red;
}

.contact-form .error input[type="text"] , .contact-form .error input[type="email"]{
    border: 2px solid #e6232b;
}

