.header{
    position: relative;
    height: 300px;
}

.header .inline-list>li>*{
    text-shadow: 1px 1px 0px #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.top-menu{
    margin-left: 6rem;
}

.top-web{
    padding-top: 15px;
}

.title-web{
    font-family: 'Trajan Pro';
    font-size: 14px;
    padding-top: 5px;
}

.header input{
    height: 24px;
    border-color: #777777;
    border-right: 0px;
}

.header .postfix{
    height: 24px;
    line-height: 1.5;
    border-color: #777777;
    border-left: 0px;
    background: #ffffff;
}

.season-image{
    position: absolute;
    z-index: -1;
    width: inherit;
}

.logo{
    margin-left: 15px;
}

.header .bottom{
    position: absolute;
    bottom: 0;
    border-bottom: 8px solid #45a638;
    margin-bottom: 0;
    padding-bottom: 1.0625rem;
    width: 100%;

}

.header .main-menu>li>*{
    font-size: 16px;
    font-family: 'MS PMincho';
    margin-right: 10px;
    min-width: 74px;
    text-align: center;
    padding-bottom: 5px;
}

.main-menu li{
    margin-left: 30px;
}

.header .main-menu a{
    background-image: url("images/transition-active-sign.jpg") ;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0px 7px;
    -webkit-background-size: 0px 7px;
    transition: background-size 1s, background-position 100s;
    -webkit-transition: background-size 1s, background-position 100s;
}

.header .main-menu a:hover{
    background-image: url("images/active-sign.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 74px 7px;

}

.header .main-menu a.active{
    background: url("images/active-sign.jpg") bottom no-repeat;
    background-size: 74px 7px;

}

.top-menu select{
    padding: 0;
    position: relative;
    top: 0px;
    height: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
    background-image:url("images/play-button.png") ;
    background-position:90% center;
    border-color: #777777;
}

.header .main-menu>.select-lang{
    padding-top: 4px;
    margin-left: 145px;
}

.menu-container{
    position: relative;
    top: 178px;
}

.footer-menu{
    background: #ebebeb;
    min-height: 290px;
}

.footer-menu a:hover{
    opacity:0.5;
}

.footer-home{
    margin-left: 45px;
    font-weight: bold;
    font-family: 'MS PMincho';
}

.footer-foot{
    margin-left: 45px;
}

.footer-home hr{
    width: 14px;
    border-color: #221714;
    margin: 0;
}

.footer-home .inline-list>li{
    margin-left: 0;
    margin-right: 40px;
    font-size: 12px;
    font-weight: bold;
}

.footer-home ul.no-bullet {
    list-style: none;
    font-size: 12px;
    font-weight: normal;
}

.footer-home ul.no-bullet>li:first-child  {
    color: #a3a3a3;
}

.footer-home a{
    color: #000000;
}

.orbit-timer{
    display: none;
}

#list-footer-banner{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

#list-footer-banner li{
    float: left;
    margin: 5px -33px 10px 44px;
}

.footer-line{
    border-top: 1px #c9c9c9 solid;
    margin: 30px 44px;
}

.footer-title{
    text-align: center;
    margin: -40px 0px 20px 0;
    font-size: 14px;
    font-weight: bold;
    background-color: #ebebeb;
    width: 220px;
}

.footer .footer-title{
    margin-left:40%;
}

.project-home, .news-home{
    margin-bottom:10px;
}

.project-home h5, .news-home h5{
    font-size: 16px;
    font-weight: bold;
}


.project-home h5 span, .news-home h5 span{
    font-size: 14px;
}

.project-home p, .news-home p{
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
}

.project-home-title, .news-home-title{
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-home-title .small-8, .news-home-title .small-8{
    font-size: 24px;
    font-family: "MS PMincho";
    border-left: 4px solid #df5a2e;
    font-weight: bold;
}

.project-home-title .small-4, .news-home-title .small-4{
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.project-home-title .small-4 span, .news-home-title .small-4 span{
    color: #df5a2e;
}

.project-home-title .small-4 a, .news-home-title .small-4 a{
    color: #000000;
}

.breadcrumbs{
    background: none;
    border: none;
}

.breadcrumbs>*{
    text-transform: capitalize;
    font-weight: bold;
}

.breadcrumbs>* a{
    color: #000000;
}

.breadcrumbs>*:before{
    content: ">";
    top: 0;
    margin: 0 0.3rem;
}

.tokyuland-president .small-7 p{
    font-family: "MS PMincho";
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

.tokyuland-president .small-7 .vcard p{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;

}

.about-sub-menu {
    font-family: "MS PMincho";
}

.about-sub-menu .small-2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.about-sub-menu .inline-list{
    padding-top: 7px;
}

.about-sub-menu .inline-list>li{
    margin-left: 0px;
    margin-right: 10px;
}

/*.about-sub-menu .inline-list>li:first-child {*/
    /*text-align: center;*/
/*}*/

/*.about-sub-menu .inline-list>li:first-child a {*/
    /*background-color: #585555;*/
    /*border: 1px solid #585555;*/
    /*color: #ffffff;*/
/*}*/

/*.about-sub-menu .inline-list>li:first-child a:hover{*/
    /*color: #ffffff;*/
    /*background: #585555;*/
/*}*/

/*.about-sub-menu .inline-list>li:first-child:after{*/
    /*content: "under preparation";*/
    /*color: red;*/
    /*font-size: 14px;*/
    /*text-align: center;*/
/*}*/

.about-sub-menu .inline-list a{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    border: 1px solid #45a638;
}

.about-sub-menu .inline-list a:hover, .about-sub-menu .inline-list a.active{
    color: #ffffff;
    background: #45a638;
    cursor: auto;
}

.about-sub-menu .inline-list>li:first-child {
      text-align: center;
 }
  
.tokyuland-history h3, .tokyuland-business h3, .tokyuland-company h3{
    font-family: "MS PMincho";
    font-size: 18px;
}

.tokyuland-history p{
    font-size: 14px;
    font-weight: bold;
}

.tokyuland-history .small-12, .tokyuland-company .small-12{
    padding-left: 2rem;
    padding-right: 2rem;
}

.business-slogan{
    padding: 10px 40px 10px 40px;
    background: #686868;
    color: #ffffff;
    font-family: "MS PMincho";
    font-size: 24px;
}

.business-slogan span{
    font-size: 18px;
}

.business-subtitle{
    font-size: 24px;
    color: #565656;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
}

.company-profile{
    background: url("images/background-company.jpg") 0 0 no-repeat;
    width: 938px;
    height: 597px;
}

.profile-content{
    position: relative;
    top: 100px;
}

.profile-content h4{
    font-size: 24px;
    text-transform: uppercase;
}

.profile-content p{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.company-maps-title{
    text-align: center;
    font-family: "MS PMincho";
    font-size: 27px;
    color: #ffffff;
    background: url("images/background-map.png") 0 0 no-repeat;
    width: 1023px;
    height: 102px;
    padding-top: 20px;
}

.breadcrumbs{
    padding-left: 0;
}

.philosophy-content h1{
    font-size: 24px;
    font-weight: bold;
    font-family: "MS PMincho";
}

.philosophy-content .small-3{
    text-align: right;
    font-family: "MS PMincho";
    font-weight: bold;
    font-size: 17px;
    border-right: 1px solid #000000;
    line-height: 1.3;
}

.philosophy-content .small-3 span{
    text-align: right;
    font-family: "MS PMincho";
    font-size: 10px;
    font-weight: normal;
}

.philosophy-content .small-12{
    padding: 0;
}

.philosophy-content .small-12 p{
    font-weight: normal;
    font-size: 12px;
}

.concept-1, .concept-3{
    position: relative;
    width: 100%;
    height: auto;
}

.concept-1 .white-content, .concept-3 .white-content{
    position: absolute;
    background: white;
    width: 56.7%;
    padding: 40px;
    font-size: 12px;
}

.concept-1 .white-content{
    bottom: 0;
    padding-left: 0;
}

.concept-3 .white-content{
    top:0;
}

.concept-1 .black-content{
    position: absolute;
    bottom: 250px;
    right: 55px;
    background: rgba(0,0,0,0.75);
    padding: 40px;
    font-size: 17px;
    width: 316px;
    color: #ffffff;
    font-family: "MS PMincho";
    font-weight: bold;

}

.concept-1 .black-content.top-black{
    bottom: 40px;
    right: auto;
    padding: 35px;
    font-size: 12px;
    width: 575PX;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-weight: normal;
    left: 40px;
}

.concept-1 .black-content span{
    font-size: 12px;
    font-weight: normal;
}

.concept-text{
    padding: 25px;
}

.concept-2 .small-5 p {
    font-family: "MS PMincho";
    font-size: 17px;
}

.concept-2 .small-5 p span {
    font-family: "MS PMincho";
    font-size: 12px;
}

.concept-2 .small-5 p.tokyu-text {
    font-family: "Helvetica Neue", Helvetica, Tahoma;
    font-size: 12px;
}

.concept-2 .small-7{
    padding-left: 0;
}

.concept-3 .white-content p{
    font-family: "MS PMincho";
    font-size: 17px;
    line-height: 1.4;
}

.concept-3 .white-content p span{
    font-size: 12px;
}

.concept-3 .trans-content{
    position: absolute;
    width: 50%;
    padding: 40px;
    top: 180px;
}

.trans-content.bottom-content {
    top: 60px;
    font-family: "MS PMincho";
    font-size: 17px;
}

.concept-3 .trans-content p{
    font-size: 12px;
}

.concept-3 .bottom-content p{
    font-size: 17px;
}

.philosophy-content h5{
    font-family: "MS PMincho";
    font-size: 17px;
    font-weight: bold;
    line-height: 1.3;
}

.tokyuland-project h1, .tokyuland-group h1, .tokyuland-news h1, .tokyuland-contact h1, .tokyuland-csr h1, .tokyuland-career h1{
    font-family: "MS PMincho";
    font-size: 24px;
    font-weight: bold;
}

.title-project{
     background: rgb(0,0,0); /* Old browsers */
     background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 5%, rgba(69,166,56,1) 5%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(5%,rgba(0,0,0,1)), color-stop(5%,rgba(0,0,0,1)), color-stop(5%,rgba(69,166,56,1))); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,1) 5%,rgba(69,166,56,1) 5%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,1) 5%,rgba(69,166,56,1) 5%); /* Opera 11.10+ */
     background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,1) 5%,rgba(69,166,56,1) 5%); /* IE10+ */
     background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,1) 5%,rgba(69,166,56,1) 5%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45a638',GradientType=1 ); /* IE6-9 */
     padding: 5px;
     padding-left: 50px;
     font-size: 24px;
     color: #ffffff;

 }

.tokyuland-project .small-3{
    padding: 0;
}

.content-project{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 14px;

}

.content-project p{
     font-size: 14px !important;
     line-height: 1.4;
}

.content-project p span{
    font-size: 14px !important;
    line-height: 1.4;
}

.content-project a{
    font-size: 14px !important;
    line-height: 1.4;
    font-weight: bold;
    color: #000000;
}

.content-project a:hover{
    opacity:0.5;
}

.tokyuland-group .button-group>li{
    width: 33%;
}

.tokyuland-group .button-group>li>button, .tokyuland-group .button-group>li .button{
    width: 95%;
    background: transparent;
    border: 1px solid #45a638;
    color: #000000;
    font-family: "MS PMincho";
    font-weight: bold;
}

.tokyuland-group .button-group>li>button:hover, .tokyuland-group .button-group>li .button:hover{
    background: #45a638;
    border: 1px solid #45a638;
    color: #ffffff;
}

.tokyuland-group .button-group>li .second{
    width: 100%;
}

.group-box{
    position: relative;
    background: #ffffff;
}

.group-box:before, .group-box:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    top: 10px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.group-box:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.link-group{
    padding: 40px;
    text-align: center;
}

.link-group a{
    padding: 20px;
    border: 1px solid #9cd095;
    font-family: "MS PMincho";
    font-size: 18px;
    color: #000000;
}

.link-group a:hover{
    background: #45a638;
    color: #ffffff;
}

.holding h2, .holding p, .tokyuland-land h2{
    text-align: center;
    font-family:"MS PMincho" ;
}

.holding h2, .tokyuland-land h2{
    font-weight: bold;
}

.holding-data .small-4{
    border: 1px solid #bbbbbb;
    padding: 20px;
}

.holding-data .img-holding{
    text-align: center;

}

.holding-data .text-holding{
    font-size: 12px;
}

.current{
    text-align: right;
    font-family: "MS PMincho";
}
.tokyuland-land .img-land{
    text-align: center;
}

.title-group-comp{
    text-align: center;
    height: 90px;
    line-height: 90px;
}

.tokyuland-land .sub-land{
    text-align: center;
    font-family: "MS PMincho";
}

.sub-land p{
    font-size: 16px;
}

.title-land-corp p{
    font-size: 16px;
}

.content-land-corp h5{
    font-size: 14px;
    font-weight: bold;
}

.content-land-corp p{
    font-size: 12px;
}

.title-land-corp .big-one {
    font-size: 250%;
    float: left;
    line-height: 1;
    padding: 0;
    margin-top: -3px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.small-one{
    line-height: 1;
    margin: 0;
}

.wrap-land-corp{
    width: 95%;
    border: 1px solid #bbbbbb;
    height: 100%;
}

.title-land-corp, .content-land-corp{
    padding: 30px;
    padding-bottom: 0;
}

.tokyuland-land .columns{
    padding: 0;
    margin-bottom: 20px;
}

.title-land-corp{
    font-family: "MS PMincho";
}

.content-land-corp{
    font-size: 12px;
    padding: 30px;
}

.last-wrap-land{
    float: right;
}

.mid-wrap-land{
    margin: auto;
}

.wrap-land-corp .small-8{
    position: relative;
}

#back-top{
    position: fixed;
    bottom: 0;
    right: 50px;
    cursor: pointer;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #eeeeee;
    right: 50px;
    bottom: 0px;
    padding-top: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}

.tokyuland-news .small-3 {
    padding: 0;
}

.tokyuland-news .small-3 ul{
    width: 80%;
}

.tokyuland-news .small-3 ul li{
    text-align: center;
    margin-bottom: 20px;
}

.tokyuland-news .small-3 ul li a{
    border: 1px solid #45a638;
    color: #000000;
    padding: 20px;
    font-family: "MS PMincho";
    font-size: 18px;
    font-weight: bold;
}

.tokyuland-news .small-3 ul li a:hover{
    color: #ffffff;
    background: #45a638;
}

.tokyuland-news .small-3 ul li a.active{
    color: #ffffff;
    background: #45a638;
}

.tokyuland-news .small-9{
    padding-top: 20px;
}

.news-list .small-3 {
    font-size: 12px;
    padding-top: 8px;
    width: 18%;
}

.news-list .small-9{
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
}

.news-list .small-9 a{
    color: #000000;
}

.news-list .small-9 a:hover{
    opacity:0.5;
}

.news-list hr{
    margin-top: 25px;
    width: 35%;
    border: 1px solid #909090;
}

.news-list:last-child .small-3 hr{
    display: none;
}

.tokyuland-contact .columns{
    padding: 0;
}

.tokyuland-contact p{
    font-size: 12px;
}

.tokyuland-contact hr{
    width: 40px;
}

.tokyuland-csr .primary-content{
    padding-left: 50px;
    font-family: "MS PMincho";
    font-size: 20px;
    line-height: 1.4;
    height: 80px;
}

.tokyuland-csr .secondary-content{
    margin-left: 120px;
    border-left: 1px solid #878787;
    padding-left: 20px;
    height: 80px;

}

.tokyuland-csr .secondary-content p{
    font-size: 12px;
    line-height: 2;
    margin-bottom: 0;
}

.csr-content{
    position: relative;
}

.title-csr{
    background: white;
    padding: 20px;
    font-size: 18px;
    font-family: MS PMincho;
    font-weight: bold;
    margin: auto;
    width: 520px;
    text-align: center;
    margin-top: -103px;
    position: relative;
    height: 175px;
    padding-top: 50px;
}

.title-csr div{
    border-bottom: 2px solid #ebebeb;
    width: 72%;
    margin: auto;
    letter-spacing: 1px;
}

.another-content{

}

.another-content p{
    font-size: 12px;
}

.right-csr{

}

.right-csr img{
    width: 100%;
}

.contact-form input[type="text"] , .contact-form input[type="email"]{
    border-radius: 10px;
    height: 2rem;
    width: 50%;
    display: inline-block;
}

.contact-form .error small.error{
    display: inline-block;
    background: none;
    color: red;
}

.contact-form .error input[type="text"] , .contact-form .error input[type="email"]{
    border: 2px solid #e6232b;
}


.contact-form input:focus, .contact-form input:hover, .contact-form textarea:hover{
    border: 2px solid #45a638;
}

.contact-form input:focus{
    background: none;
}

.contact-form input[readonly]:focus{
    background: #ddd;
}

.contact-form input[type="submit"]{
    border: 2px solid #a2d29b;
    background: none;
    color: #000000;
}

.contact-form textarea{
    border-radius: 10px;
    resize: none;
    height: 200px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.contact-form textarea:focus{
    background: none;
}


.contact-form input[type="radio"]{
    display: none;
}

.contact-form label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 12px;
}

.contact-form label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #818181;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius: 8px;
}

.contact-form input[type=radio]:checked + label:before {
    content: "\2022";
    color: #45a638;
    border: 1px solid #45a638;
    font-size: 35px;
    line-height: 15px;
    text-align: center;
}


.tokyuland-career h3{
    font-size: 16px;
    font-weight: bold;
}

.tokyuland-career p, .tokyuland-career ul li{
    font-size: 12px;
}

.tokyuland-career h4{
    font-size: 24px;
    font-family: "MS PMincho";
}

.tokyuland-career h5{
    font-size: 16px;
    font-weight: bold;
}

.active .fa-play{
    rotation: 90deg;
}

.tokyuland-career .accordion .accordion-navigation>a{
    display: inline-block;
    width: 85%;
    background: none;
    padding-bottom: 0;
}

.tokyuland-career .accordion .accordion-navigation>a:hover{
    background: none;
}

.tokyuland-career .apply-now{
    display: inline-block;

}
.tokyuland-career .accordion .accordion-navigation>.content{
    padding-left: 40px;
}


.accordion-navigation p{
    padding-left: 20px;
    margin-bottom: 0;
}

.accordion-navigation hr{
    margin-left: 40px;
}

.apply-now a{
    font-size: 12px;
    color: #45a638;
    padding: 10px;
    border: 1px solid #45a638;
    font-weight: bold;
}

.apply-now a:hover{
    color: #ffffff;
    background: #45a638;
}

.fa-play{
    font-size: 7px;
    top: -1px;
    position: relative;
}

.tokyuland-career .accordion-navigation{

}

.active .fa-play{

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

}


.foot-note{
    font-size: 12px;
    font-weight: bold;
}

.foot-note span{
    font-size: 14px;
    color: #45a638;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
}
input.file-upload-input {
    color: #404040;
    font-size: 16px;
    padding: 11px 17px;
    border: none;
    background-color: #ebebeb;
    display: inline-block;
    width: 40%;
    @include transition(all 0.2s ease-in);
    float: left; /* IE 9 Fix */
&:hover, &:focus {
    outline: none;
}
}
.file-upload-button {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #45a638;
    font-weight: bold;
    border: 1px solid #a8d5a2;
    float: left; /* IE 9 Fix */
}
.file-upload-button:hover, .file-upload-button:focus {
    background-color: #45a638;
    color: #ffffff;
}

.apply-button .button{
    background-color: white;
    color: #45a638;
    font-weight: bold;
    border: 1px solid #a8d5a2;
    font-size: 12px;
}

.apply-button .button:hover, .apply-button .button:focus {
    background-color: #45a638;
    color: #ffffff;
}

.extra-content ul li, .extra-content ol li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.extra-content ol li{
    font-size: 14px;
    padding-left: 1em;
}

.extra-content p{
    font-size: 12px;
}

.extra-content{
    font-size: 12px;
}

.extra-content strong{
    font-size: 14px;
}

.extra-content h1{
    font-family: "MS PMincho";
    text-transform: uppercase;
    font-size: 24px;
}

.information{
}

.information-title{
    color: #45a638;
    font-weight: 700;
    font-size: 16px;
}

.information-detail{
    font-size: 12px;
    padding-bottom: 20px;
}

.information-address{
    font-size: 12px;
}

.information-address span{
    font-weight: bold;
    text-decoration: underline;
}

/* 20150620 add */
/*
.main-menu li{
    margin-right: 2%;
}
.main-menu li.last_menu{
    margin-right: 0px;
    margin-left: 0px;
}
.main-menu li.first_menu{
    margin-left: 0px;
}
*/
