{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-career">
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
                <li class="current">Career</li>
            </ul>
        </div>
        <div class="row">
            <h1>Career</h1>
        </div>
        <div class="row">
            <h3>Career Opportunities in PT.Tokyu Land Indonesia</h3>
            <p style="font-size: 14px;">
                We are a foreign investment company engaging in property developer business and we aim to expand our business growth in Indonesia.<br/>
                We are always looking for talented people to join us and invite highly committed individuals to strengthen our team as:<br/>
            </p>
        </div>
        <div class="row">
            <div>
                <ul class="accordion" data-accordion>
                    {% for vacancy in vacancy_data %}
                    <li class="accordion-navigation">
                        <a href="#panel-{{vacancy.id}}">
                            <h5>{{ vacancy.name }} ({{ vacancy.code }})</h5>
                            <p>Specific Requirement <i class="fa fa-play"></i></p>
                        </a>
                        <div class="apply-now">
                            <a href="{{ base_url() }}{{ current_lang }}/career/submit/{{vacancy.id}}">
                                Apply Now
                            </a>
                        </div>
                        <div id="panel-{{vacancy.id}}" class="content">
                            {{ vacancy.req }}
                        </div>
                        <hr/>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row foot-note">
            If you are interested in working in challenging environment and have the key skill to fill these vacancies, please click “Apply Now” button<br/>
            or send us your comprehensive resume (maximum 500KB size) by quoting your name and your desired position (example : John-Sales Consultant) in the email subject to:<br/>
            <a href="mailto:hrga@tokyu-land.co.id"><span>hrga@tokyu-land.co.id</span></a>
            <br/><br/>

            Only shortlisted candidates will be notified by us.
        </div>
   </div>
   <div style="height: 50px;"></div>
{% endblock %}

{% block frontend_js %}
        {{ parent() }}
        {{ asset_js('foundation/foundation.accordion.js') | raw }}
        <script>
            $(".accordion").on("click", "li", function (event) {
//                $('i.fa', 'li.active').addClass('fa-down');
//                $('li.active', '.accordion').find("i.fa").removeClass("fa-down");
                $("p").find(".content").slideToggle("slow");
                if(!$(this).hasClass("active")) {
                    $(this).find(".content").slideToggle("slow");
                }

            });
        </script>
{% endblock %}