{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="career-wrapper">
        <div class="mobile-career">
            <h1><strong>Career</strong></h1>
        </div>
        <div class="career-opening">
            <div class="row">
                <h3>Career Opportunities in PT.Tokyu Land Indonesia</h3>
                <p>
                    We are a foreign investment company engaging in property developer business and we aim to expand our business growth in Indonesia.<br/>
                    We are always looking for talented people to join us and invite highly committed individuals to strengthen our team as:<br/>
                </p>
            </div>
            <div class="career-opportunity">
                <div class="row">
                    <div>
                        <ul class="accordion" data-accordion>
                            {% for vacancy in vacancy_data %}
                                <li class="accordion-navigation">
                                    <a href="#panel-{{vacancy.id}}">
                                        <h5>{{ vacancy.name }} ({{ vacancy.code }})</h5>
                                        <p>Specific Requirement <i class="fa fa-play"></i></p>
                                    </a>

                                    <div id="panel-{{vacancy.id}}" class="content">
                                        {{ vacancy.req }}
                                    </div>
                                    <hr/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="career-foot">
                <div class="row">
                    If you are interested in working in challenging environment and have the key skill to fill these vacancies, please click “Apply Now” button<br/>
                    or send us your comprehensive resume (maximum 500KB size) by quoting your name and your desired position (example : <strong>John-Sales Consultant</strong>) in the email subject to:<br/>
                    <span>hrga@tokyu-land.co.id</span><br/><br/>

                    Only shortlisted candidates will be notified by us.
                </div>
            </div>
        </div>


        <div style="height: 50px;"></div>
{% endblock %}

        {% block frontend_js %}
        {{ parent() }}
        {{ asset_js('foundation/foundation.accordion.js') | raw }}
        <script>
            $(".accordion").on("click", "li", function (event) {
//                $('i.fa', 'li.active').addClass('fa-down');
//                $('li.active', '.accordion').find("i.fa").removeClass("fa-down");
                $("li.active").find(".content").slideToggle("slow");
                if(!$(this).hasClass("active")) {
                    $(this).find(".content").slideToggle("slow");
                }

            });
        </script>
{% endblock %}