{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
<div class="tokyuland-career">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ base_url() }}{{ current_lang }}">Home</a></li>
            <li class="current">Career</li>
        </ul>
    </div>
    <div class="row">
        <h1>Career</h1>
    </div>

    <div class="row">
        <h3>Apply for {{ vacancy_model.name }} ({{ vacancy_model.code }})</h3>
        <div class="foot-note" style="font-weight: normal;">
            Thank you for your application for this position at our company.<br/>
            We will contact you in only the case you pass examinations of Documents(CV).<br/><br/>
        </div>

        <div class="apply-button">
            <a href="{{ base_url() }}{{ current_lang }}/career" class="button">Career</a>
            <a href="{{ base_url() }}" class="button">Home</a>
        </div>


    </div>
    <div style="height: 50px;"></div>
    {% endblock %}