{% extends "pages/views/template_frontend.twig" %}

{% block frontend_content %}
    <div class="tokyuland-news">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{{ base_url() }}{{ current_lang }}/home">Home</a></li>
            <li class="current">News Release</li>
        </ul>
    </div>
    <div class="row">
        <h1>NEWS RELEASE</h1>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <ul class="side-nav">
                {% for news_year,news_item in news_data %}
                    {% set news_year_url = base_url()~current_lang~'/news/archive/'~news_year %}
                    {% if news_year == news_latest_year %}
                        {% set news_year_url = base_url()~current_lang~'/news' %}
                    {% endif %}
                    <li>
                        <a href="{{ (news_year == news_selected_year) ? 'javascript:' : news_year_url }}" class="{{ (news_year == news_selected_year) ? 'active' : '' }}">
                            {{ news_year }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="small-9 columns">
            {% for news_year,news_item in news_data if news_year == news_selected_year %}
                {% for _item in news_item %}
                <div class="news-list">
                    <div class="small-3 columns">
                        {{ _item.date }}
                        <hr/>
                    </div>
                    <div class="small-9 columns">
                            <a href="{{ base_url() }}media/news/doc{{ current_lang == 'en' ? '' : 'id' }}/{{ _item.doc_filename }}" target="_blank">
                                {{ _item.doc }}
                            </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div style="height: 50px;"></div>
    </div>
{% endblock %}
