<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
		<title>{{ meta_title }}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		
        {% block backend_css %}
		<!-- bootstrap 3.0.2 -->
		{{ asset_css('bootstrap.min.css') | raw }}
        
        <!-- font Awesome -->
		{{ asset_css('font-awesome.min.css') | raw }}
        
        <!-- Theme style -->
		{{ asset_css('AdminLTE.css') | raw }}
		
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
		{% endblock %}
    </head>
    <body class="{{ body_tag_class }}">

        {% block backend_content %}{% endblock %}

        {% block backend_js %}
		<!-- jQuery 2.0.2 -->
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> -->
		
		<!-- jQuery 1.11.1 -->
        {{ asset_js('jquery-1.11.1.min.js') | raw }}
		
		<!-- Bootstrap -->
		{{ asset_js('bootstrap.min.js') | raw }}
        
        <!-- AdminLTE App -->
        {{ asset_js('AdminLTE/app.js') | raw }}
		{% endblock %}
    </body>
</html>
