{% extends "backend/template.twig" %}

{% block backend_css %}
	{{ parent() }}
	
	<!-- Bootstrap styles -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
	<!-- blueimp Gallery styles -->
	<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	{{ asset_css('jquery.fileupload.css') | raw }}
	{{ asset_css('jquery.fileupload-ui.css') | raw }}
	
	<!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript>{{ asset_css('jquery.fileupload-noscript.css') | raw }}</noscript>
	<noscript>{{ asset_css('jquery.fileupload-ui-noscript.css') | raw }}</noscript>
{% endblock %}

{% block backend_content_header %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>{# Set page title and subtitle manually #}
            Media Uploader
            <small>{{ media_uploader_subtitle }}</small>
	</h1>
	{# Also set breadcrumb manually #}
	<ol class="breadcrumb">
            <li><a href="{{ base_url() }}backend">Home</a></li>
            <li>Media Uploader</li>
            <li class="active">{{ media_uploader_subtitle }}</li>
	</ol>
</section>
{% endblock %}

{% block backend_content %}

{% if success_message | length > 0 %}
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ success_message | raw }}
</div>
{% endif %}

{% if error_message | length > 0 %}
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ error_message | raw }}
</div>
{% endif %}

	<div class="box box-solid">
		<div class="box-header">
                    <i class="fa fa-text-width"></i>
                    <h3 class="box-title">Information</h3>
		</div><!-- /.box-header -->
		<div class="box-body">
                    {{ information_text | raw }}
		</div><!-- /.box-body -->
	</div>
	
	<!-- The file upload form used as target for the file upload widget -->
	<form id="fileupload" action="{{ form_action_url }}" method="post" enctype="multipart/form-data">
		<!-- Redirect browsers with JavaScript disabled to the origin page -->
		<noscript><input type="hidden" name="redirect" value="{{ base_url() }}backend"></noscript>
		
		<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
		<div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
		</div>
		<!-- The table listing the files available for upload/download -->
		<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
	</form>
	</div>
	<!-- The blueimp Gallery widget -->
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
	</div>
{% endblock %}
		
{% block backend_js %}
	{{ parent() }}
	
	<!-- DATA TABES SCRIPT -->
	{{ asset_js('plugins/datatables/jquery.dataTables.js') | raw }}
	{{ asset_js('plugins/datatables/dataTables.bootstrap.js') | raw }}
	
	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
		{% verbatim %}
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-upload fade">
				<td>
					<span class="preview"></span>
				</td>
				<td>
					<p class="name">{%=file.name%}</p>
					<strong class="error text-danger"></strong>
				</td>
				<td>
					<p class="size">Processing...</p>
					<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
				</td>
				<td>
					{% if (!i && !o.options.autoUpload) { %}
						<button class="btn btn-primary start" disabled>
							<i class="glyphicon glyphicon-upload"></i>
							<span>Start</span>
						</button>
					{% } %}
					{% if (!i) { %}
						<button class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
		{% endverbatim %}
	</script>
	
	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
		{% verbatim %}
		{% for (var i=0, file; file=o.files[i]; i++) { %}
			<tr class="template-download fade">
				<td>
                                    <span class="preview">
                                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="http://localhost:8888/MicroAd/tokyuland/assets/img/pdf-icon.png"></a>
                                    </span>
				</td>
				<td>
					<p class="name">
						{% if (file.url) { %}
							<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
						{% } else { %}
							<span>{%=file.name%}</span>
						{% } %}
					</p>
					{% if (file.error) { %}
						<div><span class="label label-danger">Error</span> {%=file.error%}</div>
					{% } %}
				</td>
				<td>
					<span class="size">{%=o.formatFileSize(file.size)%}</span>
				</td>
				<td>
					{% if (file.deleteUrl) { %}
						<button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
							<i class="glyphicon glyphicon-trash"></i>
							<span>Delete</span>
						</button>
						<input type="checkbox" name="delete" value="1" class="toggle">
					{% } else { %}
						<button class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>Cancel</span>
						</button>
					{% } %}
				</td>
			</tr>
		{% } %}
		{% endverbatim %}
	</script>
	
	<!-- The jQuery UI -->
	{{ asset_js('jquery-ui-1.11.0.min.js') | raw }}
	
	<!-- The Templates plugin is included to render the upload/download listings -->
	{{ asset_js('blueimp/tmpl.min.js') | raw }}
	
	<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
	{{ asset_js('blueimp/load-image.all.min.js') | raw }}
	
	<!-- The Canvas to Blob plugin is included for image resizing functionality -->
	{{ asset_js('blueimp/canvas-to-blob.min.js') | raw }}
	
	<!-- blueimp Gallery script -->
	{{ asset_js('blueimp/jquery.blueimp-gallery.min.js') | raw }}
	
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	{{ asset_js('jquery-fileupload/jquery.iframe-transport.js') | raw }}
	
	<!-- The basic File Upload plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload.js') | raw }}
	
	<!-- The File Upload processing plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload-process.js') | raw }}
	
	<!-- The File Upload image preview & resize plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload-image.js') | raw }}
	
	<!-- The File Upload audio preview plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload-audio.js') | raw }}
	
	<!-- The File Upload video preview plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload-video.js') | raw }}
	
	<!-- The File Upload validation plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload-validate.js') | raw }}
	
	<!-- The File Upload user interface plugin -->
	{{ asset_js('jquery-fileupload/jquery.fileupload-ui.js') | raw }}
	
	<!-- The main application script -->
	<script type="text/javascript">
		$(function () {
			'use strict';

			// Initialize the jQuery File Upload widget:
			$('#fileupload').fileupload({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url: $('#fileupload').attr('action')
			});

			// Enable iframe cross-domain access via redirect option:
			$('#fileupload').fileupload(
				'option',
				'redirect',
				window.location.href.replace(
					/\/[^\/]*$/,
					'/cors/result.html?%s'
				)
			);

			// Load existing files:
			$('#fileupload').addClass('fileupload-processing');
			$.ajax({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url: $('#fileupload').fileupload('option', 'url'),
				dataType: 'json',
				context: $('#fileupload')[0]
			}).always(function () {
				$(this).removeClass('fileupload-processing');
			}).done(function (result) {
				$(this).fileupload('option', 'done')
					.call(this, $.Event('done'), {result: result});
			});
		});
	</script>
	
	<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
	<!--[if (gte IE 8)&(lt IE 10)]>
	{{ asset_js('jquery-fileupload/cors/jquery.xdr-transport.js') | raw }}
	<![endif]-->
{% endblock %}
